---
title: 'Exploring US government mapping efforts: TIGER'
date: '2021-08-04'
slug: [2021-08-04-exploring-us-government-mapping-efforts]
cover:
  image: "index_files/figure-html/build_pa_maps-1.png"
---

<script src="{{< blogdown/postref >}}index_files/header-attrs/header-attrs.js"></script>
<script src="{{< blogdown/postref >}}index_files/kePrint/kePrint.js"></script>
<link href="{{< blogdown/postref >}}index_files/lightable/lightable.css" rel="stylesheet" />


<p>In exploring available geospatial data sets, it’s very quickly apparent that there is a huge amount of information available at no cost and that the limiting factor is not availability and licensing, but knowledge of what data is available and experience in manipulating it.</p>
<p>Since I am exploring very unfamiliar terrain by starting to work on cartography, I am not aware of best practices and have no industry knowledge to guide my activities. Until I make some time to intentionally research what learning activities are efficient, I am exploring very much out of curiosity. To that end, I’d like to explore building maps as an unstructured exercise.</p>
<div id="narrowing-focus" class="section level2">
<h2>Narrowing focus</h2>
<p>At this point, I have some basic ideas of <a href="https://aem.run/posts/2021-07-02-learning-the-basics-of-gis-mapping-with-leaflet/">how geospatial data is structured</a> and <a href="https://aem.run/posts/2021-07-24-starting-with-geospatial-data-in-r/">how to approach a project</a>, but I’m unfamiliar with the mapping resources available and how to use them.</p>
<p>When exploring a new topic, it’s helpful to connect it with a familiar topic to give some sense of anchoring. While I would eventually like to explore the entire world, I will start with the town of Beaver, Pennsylvania, where I grew up. I’ll also focus on open source data from US government agencies, since they are major creators of mapping assets.</p>
<p>From what I can tell with some basic exploration, it seems that there are two major agencies producing non-classified general mapping products. The National Geospatial-Intelligence Agency presumably produces maps, but none of these appear to be publicly available.</p>
<ul>
<li>The Census Bureau’s <a href="https://www.census.gov/geographies/mapping-files/time-series/geo/tiger-line-file.html">TIGER</a></li>
<li>The US Geological Survey’s <a href="https://www.usgs.gov/core-science-systems/national-geospatial-program/topographic-maps">US Topo topgraphic maps</a> and <a href="https://www.usgs.gov/core-science-systems/national-geospatial-program/national-map">The National Map</a> (TNM)</li>
</ul>
<p>These two are not mutually exclusive, and the two agencies <a href="https://www.usgs.gov/news/new-heartland-maps-new-year">regularly share data and collaborate</a> with each other. Many other agencies also have mapping efforts for more specific purposes and often include viewers to visualize their data sets that use USGS Topo or Census TIGER data as the base map to display basic map features.</p>
<p>Here are a few examples:</p>
<ul>
<li>The National Oceanic and Atmospheric Administration’s <a href="https://www.ncei.noaa.gov/">National Centers for Environmental Information</a> (NCEI) publishes <em>petabytes</em> of environmental data</li>
<li>The Energy Information Administration (EIA) publishes maps related to energy use</li>
<li>The Federal Emergency Management Agency (FEMA) publishes the <a href="https://www.fema.gov/flood-maps/national-flood-hazard-layer">National Flood Hazard Layer</a> (NFHL) that is used as the basis for flood insurance rates, making it a very politically consequential data set. Notably, it is described as a layer rather than as a map</li>
<li>The Bureau of Land Management (BLM) publishes some <a href="https://www.blm.gov/maps">map layers related to the lands it manages</a>, which are located mostly in the western half of the country</li>
</ul>
<p>This list is not exhaustive and there are many other agencies that create and publish geospatial data in the form of layers. The agencies of the <a href="https://en.wikipedia.org/wiki/Federal_Statistical_System_of_the_United_States">Federal Statistical System</a> mostly all produce maps, and the <a href="https://www.mrlc.gov/">Multi-Resolution Land Characteristics</a> (MRLC) consortium works on land cover data.</p>
<p>The Department of Defense, if their geospatial work is like everything else the DoD does, probably has seven or eight components doing GIS work in addition to the NGA and each of these duplicate each other’s efforts while seeking to be the apex agency coordinating GIS policy for the entire DoD.</p>
<p>There are quite a few of agencies creating mapping data, and these often overlap with each other. That said, for general mapping purposes the USGS’ TNM/Topo and the Census’ TIGER are the two major national mapping efforts that include a full range of basic layers and details that other maps can be built on top of.</p>
<p>It makes sense to be familiar with these data sources for creating maps of areas located in the United States.</p>
</div>
<div id="tile-servers-redrawing-and-computer-resources" class="section level2">
<h2>Tile servers, redrawing, and computer resources</h2>
<p>As I have started exploring the USGS and Census map data portals and doing basic exploratory plots, my immediate observation is that these data sets are gigantic. I remember learning back when Google Maps became popular that mapping services do not use the map layers directly for the tile servers that underlie modern mapping applications.</p>
<p>Instead, on the back end the maintainers create huge numbers of tiles in raster format that combine all the layers to be used, and these raster tiles (i.e. static images) are what the servers actually send to users. When users zoom in, a new raster image is served that represents the correct resolution.</p>
<p>Older GPS mapping devices used vector maps and drew them out when you booted up the map to navigate. While many layers exist in raster format, particularly satellite imagery, vector form is very common. Even when purely raster data is used, multiple layers being rendered each time users interact with the map is computationally very taxing.</p>
<p>Vector data, which is at its basic level a list of points that can be drawn at any scale, can very quickly reach into the millions of points. When the NOAA says it makes petabytes of data available, this is not hard to believe given the size of the planet and the great size of even well-compressed geospatial data.</p>
<p>I am not especially knowledgeable about efficiency and optimization of code, and my computer has an above average amount of RAM (40 gigabytes), but I can tell it will not be difficult to crash my system if I am not mindful of the size of these sets. After loading my base system and three map layers, I have used 9.8 gigs and both <code>plotly</code> and <code>ggplot2</code> are operating quite slowly.</p>
<p>It seems that being targeted and deliberate when mapping is necessary, since the unfocused exploration I am used to when using tile servers is not practical given the size of the files in question. I will have to get the specific file or files I need and methodically build the maps I want to. So how do I use TIGER and TNM to access the files I want?</p>
<p>To start, I will focus on TIGER and then address TNM in a separate post. They are both large enough to warrant their own exploratory posts. I will also not give exact instructions for how to get the shapefiles from the USGS and Census bueau websites for a specific reason.</p>
<p>US government websites are almost as bad about breaking their links with updates and changing their user interfaces as Microsoft, so any instructions I write will likely be outdated within weeks. US government websites are great examples of how to design a website if you don’t want your users to find anything.</p>
<p>Instead, I’ll write in more general terms about how the data sources are built and what they contain, factors which do not change as frequently. I will leave the specifics as a Google Fu exercise, as modern search engine algorithms are a much more efficient way to find the information you are seeking than manually maintained site maps.</p>
</div>
<div id="accessing-tiger" class="section level2">
<h2>Accessing TIGER</h2>
<p>The structure of the TIGER data is a little simpler for my purposes, so I’ll start with it. The <a href="https://www.census.gov/programs-surveys/geography.html">Geography Program portal</a> has options to access shapefile downloads from a web interface or FTP (File Transfer Protocol) portal. The FTP option is somewhat hilarious, but don’t use it.</p>
<p>If you were born after 1980, you’ve probably never used FTP. In its heyday, it was used heavily for pirating mp3 music files, games, and proprietary software before Napster was invented in 1999. Support for FTP has been dropped by all modern browsers, and I wouldn’t be surprised if the protocol has unpatched zero day security exploits. Let’s use the web interface instead.</p>
<p>Being a product of the Census Bureau, the purpose of TIGER is to facilitate the census taken every 10 years and help the public make use of the agency’s data. This means that most of the information in TIGER data sets is about administrative divisions, unlike the US Geological Survey’s TNM which is mainly concerned with the physical world.</p>
<p>These include state, county, tribal, and other political boundaries, but also census blocks, school districts, legislative districts, voting districts, Congressional districts, city boundaries, and statistical areas (metropolitan areas, micropolitan areas, Combined Statistical Areas (CSA), and Core Based Statistical Areas (CBSAs)).</p>
<p>These administrative divisions, and physical features including coastline, landmarks, roads, rails, military installations, and water, are the types of layers available for download and each layer is updated annually. Files are downloaded as zip archives that include a range of types from the <a href="https://www.census.gov/cgi-bin/geo/shapefiles/index.php">TIGER Shapefile download page</a>.</p>
<p>These archives are what we will be working with, so let’s begin exploring the data.</p>
</div>
<div id="structure-and-contents-of-tiger-shapefile-archives" class="section level2">
<h2>Structure and contents of TIGER shapefile archives</h2>
<p>The Library of Congress <a href="https://www.loc.gov/preservation/digital/formats/fdd/fdd000280.shtml">ESRI Shapefile description</a> page has a great history and explanation of the format and the different types of files that are found in a shapefile directory. For our purposes in R, files with .shp extensions are the only type that matters.</p>
<p>As I mentioned above, we will be focusing on Beaver County, which is in the state of Pennsylvania. TIGER internally uses <a href="https://www.nist.gov/itl/current-fips">FIPS codes</a> to represent items in a standardized way, so 42 represents Pennsylvania and 007 represents Beaver County.</p>
<p>Getting the data we want is not as simple as just downloading all the shapefiles for Beaver County, however. Shapefiles for different layer types are not consistent about whether they show data at the national, state, or county level.</p>
<p>The scale shown seems to be based on file size and number of points, with layers consisting of a smaller number of points (like rails and coastlines) shown at the national level, and more dense data (like secondary roads and waterways) shown at the county level.</p>
<p>It’s worthwhile to reiterate here that national data particularly can get very large and resource intensive. The .shp file for US county boundary data is just under 130 megabytes on disk, but when I draw on my system RAM usage spikes to over 12 gigabytes at various points and my CPU temperature goes very high.</p>
<p>Definitely be mindful of how resource intensive these large drawing operations can become and treat your system accordingly. If you use try to perform a task that requires more RAM than your system has available, it may fail and your computer can crash. Most CPUs have a temperature where they will shut down to prevent damage, usually in the 100 degrees Celsius range. Cooking your CPU by running it in this range is not advisable.</p>
</div>
<div id="national-level-layers" class="section level2">
<h2>National level layers</h2>
<p>We’ll start by looking at the national data layers, and load the shapefiles using <code>sf::st_read()</code>. I’ve suppressed the <code>st_read()</code> lines below because they generate a lot of console output, but anywhere a variable titled <code>sf</code> shows up below, it represents an sf object read in using <code>st_read()</code>. The more verbose source document for this page is also available <a href="https://gitlab.com/aemacleod/aem.run/-/tree/main/content/posts/2021-08-04-exploring-us-government-mapping-efforts">here</a>.</p>
<p>The variables in each layer are not standardized throughout TIGER, so each layer must be analyzed individually. For instance, the national county boundary shapefile helpfully contains columns for state and county IDs:</p>
<div style="border: 1px solid #ddd; padding: 0px; overflow-y: scroll; height:15em; ">
<table class="table" style="font-size: 12px; margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
STATEFP
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
COUNTYFP
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
COUNTYNS
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
GEOID
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
NAME
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
NAMELSAD
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
LSAD
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
CLASSFP
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
MTFCC
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
CSAFP
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
CBSAFP
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
METDIVFP
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
FUNCSTAT
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
ALAND
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
AWATER
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
INTPTLAT
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
INTPTLON
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
geometry
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
31
</td>
<td style="text-align:left;">
039
</td>
<td style="text-align:left;">
00835841
</td>
<td style="text-align:left;">
31039
</td>
<td style="text-align:left;">
Cuming
</td>
<td style="text-align:left;">
Cuming County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
1477645345
</td>
<td style="text-align:right;">
10690204
</td>
<td style="text-align:left;">
+41.9158651
</td>
<td style="text-align:left;">
-096.7885168
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-97.01952 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
53
</td>
<td style="text-align:left;">
069
</td>
<td style="text-align:left;">
01513275
</td>
<td style="text-align:left;">
53069
</td>
<td style="text-align:left;">
Wahkiakum
</td>
<td style="text-align:left;">
Wahkiakum County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
680976231
</td>
<td style="text-align:right;">
61568965
</td>
<td style="text-align:left;">
+46.2946377
</td>
<td style="text-align:left;">
-123.4244583
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-123.4364 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
35
</td>
<td style="text-align:left;">
011
</td>
<td style="text-align:left;">
00933054
</td>
<td style="text-align:left;">
35011
</td>
<td style="text-align:left;">
De Baca
</td>
<td style="text-align:left;">
De Baca County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
6016818946
</td>
<td style="text-align:right;">
29090018
</td>
<td style="text-align:left;">
+34.3592729
</td>
<td style="text-align:left;">
-104.3686961
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-104.5674 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
31
</td>
<td style="text-align:left;">
109
</td>
<td style="text-align:left;">
00835876
</td>
<td style="text-align:left;">
31109
</td>
<td style="text-align:left;">
Lancaster
</td>
<td style="text-align:left;">
Lancaster County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
339
</td>
<td style="text-align:left;">
30700
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
2169272970
</td>
<td style="text-align:right;">
22847034
</td>
<td style="text-align:left;">
+40.7835474
</td>
<td style="text-align:left;">
-096.6886584
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-96.91075 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
31
</td>
<td style="text-align:left;">
129
</td>
<td style="text-align:left;">
00835886
</td>
<td style="text-align:left;">
31129
</td>
<td style="text-align:left;">
Nuckolls
</td>
<td style="text-align:left;">
Nuckolls County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
1489645188
</td>
<td style="text-align:right;">
1718484
</td>
<td style="text-align:left;">
+40.1764918
</td>
<td style="text-align:left;">
-098.0468422
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-98.27367 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
72
</td>
<td style="text-align:left;">
085
</td>
<td style="text-align:left;">
01804523
</td>
<td style="text-align:left;">
72085
</td>
<td style="text-align:left;">
Las Piedras
</td>
<td style="text-align:left;">
Las Piedras Municipio
</td>
<td style="text-align:left;">
13
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
490
</td>
<td style="text-align:left;">
41980
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
87748418
</td>
<td style="text-align:right;">
32509
</td>
<td style="text-align:left;">
+18.1871483
</td>
<td style="text-align:left;">
-065.8711890
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-65.91048 1…
</td>
</tr>
<tr>
<td style="text-align:left;">
46
</td>
<td style="text-align:left;">
099
</td>
<td style="text-align:left;">
01265772
</td>
<td style="text-align:left;">
46099
</td>
<td style="text-align:left;">
Minnehaha
</td>
<td style="text-align:left;">
Minnehaha County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
43620
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
2089701439
</td>
<td style="text-align:right;">
18188795
</td>
<td style="text-align:left;">
+43.6674723
</td>
<td style="text-align:left;">
-096.7957261
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-96.89022 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
48
</td>
<td style="text-align:left;">
327
</td>
<td style="text-align:left;">
01383949
</td>
<td style="text-align:left;">
48327
</td>
<td style="text-align:left;">
Menard
</td>
<td style="text-align:left;">
Menard County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
2336237980
</td>
<td style="text-align:right;">
613559
</td>
<td style="text-align:left;">
+30.8852677
</td>
<td style="text-align:left;">
-099.8588613
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-99.82187 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
091
</td>
<td style="text-align:left;">
00277310
</td>
<td style="text-align:left;">
06091
</td>
<td style="text-align:left;">
Sierra
</td>
<td style="text-align:left;">
Sierra County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
2468694582
</td>
<td style="text-align:right;">
23299110
</td>
<td style="text-align:left;">
+39.5769252
</td>
<td style="text-align:left;">
-120.5219926
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-120.6556 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
21
</td>
<td style="text-align:left;">
053
</td>
<td style="text-align:left;">
00516873
</td>
<td style="text-align:left;">
21053
</td>
<td style="text-align:left;">
Clinton
</td>
<td style="text-align:left;">
Clinton County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
510875757
</td>
<td style="text-align:right;">
21152699
</td>
<td style="text-align:left;">
+36.7272577
</td>
<td style="text-align:left;">
-085.1360977
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-85.2391 36…
</td>
</tr>
<tr>
<td style="text-align:left;">
39
</td>
<td style="text-align:left;">
063
</td>
<td style="text-align:left;">
01074044
</td>
<td style="text-align:left;">
39063
</td>
<td style="text-align:left;">
Hancock
</td>
<td style="text-align:left;">
Hancock County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
534
</td>
<td style="text-align:left;">
22300
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
1376124980
</td>
<td style="text-align:right;">
6021322
</td>
<td style="text-align:left;">
+41.0002170
</td>
<td style="text-align:left;">
-083.6659471
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-83.88076 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
48
</td>
<td style="text-align:left;">
189
</td>
<td style="text-align:left;">
01383880
</td>
<td style="text-align:left;">
48189
</td>
<td style="text-align:left;">
Hale
</td>
<td style="text-align:left;">
Hale County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
352
</td>
<td style="text-align:left;">
38380
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
2602109423
</td>
<td style="text-align:right;">
246678
</td>
<td style="text-align:left;">
+34.0684364
</td>
<td style="text-align:left;">
-101.8228879
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-102.0874 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
01
</td>
<td style="text-align:left;">
027
</td>
<td style="text-align:left;">
00161539
</td>
<td style="text-align:left;">
01027
</td>
<td style="text-align:left;">
Clay
</td>
<td style="text-align:left;">
Clay County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
1564255426
</td>
<td style="text-align:right;">
5281616
</td>
<td style="text-align:left;">
+33.2703999
</td>
<td style="text-align:left;">
-085.8635254
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-85.97879 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
48
</td>
<td style="text-align:left;">
011
</td>
<td style="text-align:left;">
01383791
</td>
<td style="text-align:left;">
48011
</td>
<td style="text-align:left;">
Armstrong
</td>
<td style="text-align:left;">
Armstrong County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
108
</td>
<td style="text-align:left;">
11100
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
2354617585
</td>
<td style="text-align:right;">
12183672
</td>
<td style="text-align:left;">
+34.9641790
</td>
<td style="text-align:left;">
-101.3566363
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-101.6251 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
39
</td>
<td style="text-align:left;">
003
</td>
<td style="text-align:left;">
01074015
</td>
<td style="text-align:left;">
39003
</td>
<td style="text-align:left;">
Allen
</td>
<td style="text-align:left;">
Allen County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
338
</td>
<td style="text-align:left;">
30620
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
1042587389
</td>
<td style="text-align:right;">
11152061
</td>
<td style="text-align:left;">
+40.7716274
</td>
<td style="text-align:left;">
-084.1061032
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-84.39719 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
13
</td>
<td style="text-align:left;">
189
</td>
<td style="text-align:left;">
00348794
</td>
<td style="text-align:left;">
13189
</td>
<td style="text-align:left;">
McDuffie
</td>
<td style="text-align:left;">
McDuffie County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
12260
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
666590014
</td>
<td style="text-align:right;">
23114032
</td>
<td style="text-align:left;">
+33.4806126
</td>
<td style="text-align:left;">
-082.4795333
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-82.44998 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
55
</td>
<td style="text-align:left;">
111
</td>
<td style="text-align:left;">
01581115
</td>
<td style="text-align:left;">
55111
</td>
<td style="text-align:left;">
Sauk
</td>
<td style="text-align:left;">
Sauk County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
357
</td>
<td style="text-align:left;">
12660
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
2153686013
</td>
<td style="text-align:right;">
45692969
</td>
<td style="text-align:left;">
+43.4280010
</td>
<td style="text-align:left;">
-089.9433184
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-90.19196 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
05
</td>
<td style="text-align:left;">
137
</td>
<td style="text-align:left;">
00069902
</td>
<td style="text-align:left;">
05137
</td>
<td style="text-align:left;">
Stone
</td>
<td style="text-align:left;">
Stone County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
1570673294
</td>
<td style="text-align:right;">
8145444
</td>
<td style="text-align:left;">
+35.8570011
</td>
<td style="text-align:left;">
-092.1404819
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-92.41528 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
41
</td>
<td style="text-align:left;">
063
</td>
<td style="text-align:left;">
01155135
</td>
<td style="text-align:left;">
41063
</td>
<td style="text-align:left;">
Wallowa
</td>
<td style="text-align:left;">
Wallowa County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
8147835333
</td>
<td style="text-align:right;">
14191752
</td>
<td style="text-align:left;">
+45.5937530
</td>
<td style="text-align:left;">
-117.1855796
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-117.7475 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
42
</td>
<td style="text-align:left;">
007
</td>
<td style="text-align:left;">
01214112
</td>
<td style="text-align:left;">
42007
</td>
<td style="text-align:left;">
Beaver
</td>
<td style="text-align:left;">
Beaver County
</td>
<td style="text-align:left;">
06
</td>
<td style="text-align:left;">
H1
</td>
<td style="text-align:left;">
G4020
</td>
<td style="text-align:left;">
430
</td>
<td style="text-align:left;">
38300
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
A
</td>
<td style="text-align:right;">
1125854819
</td>
<td style="text-align:right;">
24162295
</td>
<td style="text-align:left;">
+40.6841401
</td>
<td style="text-align:left;">
-080.3507209
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-80.51896 4…
</td>
</tr>
</tbody>
</table>
</div>
<p><BR>These columns make it easy to filter for Pennsylvania and Beaver County. Thus filtered, simple maps are easy to build:</p>
<pre class="r"><code>pa &lt;- sf %&gt;%
  filter(STATEFP == &#39;42&#39;)

bc &lt;- sf %&gt;%
  filter(STATEFP == &#39;42&#39; &amp; COUNTYFP == &#39;007&#39;)

pa &lt;- pa %&gt;%
  ggplot() +
  geom_sf(fill = &quot;#fef5e7&quot;) +
  coord_sf(
    datum = sf::st_crs(4326)
  ) +
  labs(title = &quot;Pennsylvania Boundaries by County&quot;)

bc &lt;- bc %&gt;%
  ggplot() +
  geom_sf(
    fill = &quot;#fef5e7&quot;
    ) +
  coord_sf(
    datum = sf::st_crs(4326)
  ) +
  labs(title = &quot;Beaver County Boundaries&quot;)

# Use the Patchwork library to combine plots
pa | bc</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/pa_bc-1.png" width="672" /></p>
<p>Most of the other columns in the data don’t have obvious meanings and I’m not sure exactly how to determine what variables like MTFCC mean at the moment. I’m guessing there is a data dictionary available somewhere that breaks down these variables (or Google), but for our immediate, exploratory purposes here the polygons are what we are looking for.</p>
<p>Other national sets are less clear cut. The military installations layer, for instance, doesn’t include any information that could be used to easily tie these installations to the state or county level:</p>
<div style="border: 1px solid #ddd; padding: 0px; overflow-y: scroll; height:15em; ">
<table class="table" style="font-size: 12px; margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
ANSICODE
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
AREAID
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
FULLNAME
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
MTFCC
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
ALAND
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
AWATER
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
INTPTLAT
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
INTPTLON
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
geometry
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110509768024
</td>
<td style="text-align:left;">
Tripler Army Medical Ctr
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
1443458
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+21.3620086
</td>
<td style="text-align:left;">
-157.8896492
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-157.8982 2…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110507841923
</td>
<td style="text-align:left;">
Ng Havre de Grace Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
304109
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+39.5327115
</td>
<td style="text-align:left;">
-76.1041621
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-76.11008 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110509768183
</td>
<td style="text-align:left;">
Aliamanu Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
2104133
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+21.3609483
</td>
<td style="text-align:left;">
-157.9117716
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-157.9238 2…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110509768096
</td>
<td style="text-align:left;">
Waianae-Kai Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
34407
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+21.4469221
</td>
<td style="text-align:left;">
-158.1909990
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-158.1931 2…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110509768142
</td>
<td style="text-align:left;">
Schofield Barracks Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
20509112
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+21.4993768
</td>
<td style="text-align:left;">
-158.0824984
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-158.1151 2…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110509768059
</td>
<td style="text-align:left;">
Helemano Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
1204608
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+21.5361123
</td>
<td style="text-align:left;">
-158.0194801
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-158.0267 2…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
1108310928834
</td>
<td style="text-align:left;">
West Point Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
52799640
</td>
<td style="text-align:right;">
2434478
</td>
<td style="text-align:left;">
+41.3590138
</td>
<td style="text-align:left;">
-74.0322985
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-74.10504 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
1108310958136
</td>
<td style="text-align:left;">
Ng Florence Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
75993617
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+33.1375881
</td>
<td style="text-align:left;">
-111.3291098
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-111.3878 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110509767829
</td>
<td style="text-align:left;">
Makua Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
17406401
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+21.5307680
</td>
<td style="text-align:left;">
-158.2068764
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-158.2406 2…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110435324283
</td>
<td style="text-align:left;">
Stone Ranch Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
7440946
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+41.3654109
</td>
<td style="text-align:left;">
-72.2716641
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-72.26356 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
1108310660208
</td>
<td style="text-align:left;">
Ng Mta Gunpowder Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
1032570
</td>
<td style="text-align:right;">
10372
</td>
<td style="text-align:left;">
+39.4306656
</td>
<td style="text-align:left;">
-76.5068215
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-76.51083 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
1108301385692
</td>
<td style="text-align:left;">
Ng Papago Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
1844509
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+33.4673291
</td>
<td style="text-align:left;">
-111.9621997
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-111.9698 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110159819765
</td>
<td style="text-align:left;">
Keaukaha Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
2450860
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+19.7068079
</td>
<td style="text-align:left;">
-155.0391915
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-155.0528 1…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
1104755641127
</td>
<td style="text-align:left;">
Stone Ranch Mil Res
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
178929
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:left;">
+41.3516867
</td>
<td style="text-align:left;">
-72.2836503
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-72.2868 41…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
1108311012199
</td>
<td style="text-align:left;">
Thunderbird Youth Acdmy
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
2335010
</td>
<td style="text-align:right;">
38530
</td>
<td style="text-align:left;">
+36.2981857
</td>
<td style="text-align:left;">
-95.2927873
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-95.30986 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110443570421
</td>
<td style="text-align:left;">
Offutt AFB
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
7233193
</td>
<td style="text-align:right;">
513297
</td>
<td style="text-align:left;">
+41.1178814
</td>
<td style="text-align:left;">
-95.9065457
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-95.92719 4…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110510128963
</td>
<td style="text-align:left;">
Macdill AFB
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
21499446
</td>
<td style="text-align:right;">
1412049
</td>
<td style="text-align:left;">
+27.8491777
</td>
<td style="text-align:left;">
-82.5107811
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-82.53755 2…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110760434687
</td>
<td style="text-align:left;">
Langley AFB
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
11687672
</td>
<td style="text-align:right;">
104265
</td>
<td style="text-align:left;">
+37.0856955
</td>
<td style="text-align:left;">
-76.3635705
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-76.38734 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
1101110616060
</td>
<td style="text-align:left;">
Edwards AFB
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
1240383470
</td>
<td style="text-align:right;">
7042912
</td>
<td style="text-align:left;">
+34.9080209
</td>
<td style="text-align:left;">
-117.8278171
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-118.1409 3…
</td>
</tr>
<tr>
<td style="text-align:left;">
NA
</td>
<td style="text-align:left;">
110457239915
</td>
<td style="text-align:left;">
Cannon AFB
</td>
<td style="text-align:left;">
K2110
</td>
<td style="text-align:right;">
13804790
</td>
<td style="text-align:right;">
67511
</td>
<td style="text-align:left;">
+34.3821366
</td>
<td style="text-align:left;">
-103.3169436
</td>
<td style="text-align:left;">
MULTIPOLYGON (((-103.3372 3…
</td>
</tr>
</tbody>
</table>
</div>
<p>Beaver County itself doesn’t have any military installations, the closest one is the 911th Airlift Wing Air Force reserve station in Allegheny County. The AREAID appears to be the unique feature identifier in this and other layers, so after locating the AREAID for the 911th, we can filter the layer and map the station relative to Beaver County:</p>
<pre class="r"><code>afrc_911 &lt;- sf %&gt;%
  filter(
    AREAID == &#39;1102202009432&#39;
    )

afrc_911 %&gt;%
  ggplot() +
  geom_sf(
    fill = &quot;#1fffb4&quot;,
    size = .25
    ) +
  geom_sf(
    data = bc,
    fill = &quot;#c7c1b3&quot;,
    alpha = .3
    ) +
  coord_sf(
    datum = sf::st_crs(4326)
    ) +
  labs(title = &quot;911th Reserve Station Relative to Beaver County&quot;)</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/display_911_bc-1.png" width="672" /></p>
<p>Plotting is more difficult when dealing with rails since the railway layer is a large collection of lines and it would be a great deal of work to identify the unique AREAID for each rail line running through Beaver County. For this layer, I think the best approach is to set geographic boundaries in ggplot’s <code>coord_sf()</code> function:</p>
<pre class="r"><code>sf %&gt;%
  ggplot() +
  geom_sf(
    data = bc,
    color = &quot;#239b56&quot;,
    fill = &quot;#239b56&quot;,
    alpha = .1
    ) +
  geom_sf(
    color = &quot;#000000&quot;,
    size = .2,
    alpha = 1
    ) +
  coord_sf(
    xlim = c(-80.52, -80.15),
    ylim = c(40.47, 40.86),
    datum = sf::st_crs(4326)
  ) +
  labs(
    title = &quot;Rail Network in Beaver County&quot;
  )</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/display_rails_bc-1.png" width="672" /></p>
<p>We would tighten up the visual appeal of this map if it was intended for publication, but for rough demonstration purposes this is sufficient.</p>
<p>Looking at the plot itself, I see several breaks in the continuity of the lines, which is not something that railway operators usually do intentionally. To confirm whether it’s an error, I looked at the data a little closer using <code>plotly</code>, and I believe the breaks represent a gap in the data rather than in the way <code>ggplot2</code> rendered the lines.</p>
<p>Perhaps the gaps are present in old lines that are not in operation, but they are included for administrative reasons. If this were a relevant aspect of the analysis, I would investigate closer.</p>
<p>There are other national layers aside from the counties, military installations, and railways, but I believe that these three are sufficient to demonstrate the basic structure and challenges of working with national layers.</p>
</div>
<div id="state-level-layers" class="section level2">
<h2>State level layers</h2>
<p>Many TIGER layers that are more dense are shown at the state level. As with the federal data, layers are made of points, lines, and polygons that only occasionally coincide directly with county data. Here are a few of the state-level layers:</p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/build_pa_maps-1.png" width="672" /></p>
<p>As with the federal data above, isolating specific cases from the data relevant to the analysis at hand requires a combination of using prior knowledge (e.g. knowing that Blackhawk school district is part of Beaver County but that Seneca Valley is not), examining the data with exploratory plotting, Google Fu, and so on.</p>
<p>As with the variable names in some of the federal layers, there are some aspects of the state-level layers that aren’t immediately clear to me. Particularly, there is a layer called “Places” whose polygons seem to correspond with settled areas (i.e. everything that is not an <a href="https://en.wikipedia.org/wiki/Unincorporated_area_(United_States)">unincorporated area</a>.</p>
<p>Since I am more interested in environmental analysis, the census-related layers like Census tracts and Congressional districts are of less direct interest to me, but their structures are all fairly similar to the layers listed above. State level layers appear to be the most common type, so familiarity with them is important for TIGER workflows.</p>
</div>
<div id="county-level-layers" class="section level2">
<h2>County level layers</h2>
<p>At the county level, the level of detail available in each TIGER layer goes up tremendously, so visual clutter becomes an issue. There is a combined layer called All Lines (written as edges in the archive) that contains all the geographical features tracked by the census in one layer. With appropriate lines and color, this layer is good for monochrome mapping:</p>
<pre class="r"><code>sf %&gt;%
  ggplot() +
  geom_sf(
    fill = &quot;#145a32&quot;,
    size = .05
    ) +
  coord_sf(
    datum = sf::st_crs(4326)
  ) +
  labs(
    title = &quot;All Lines in Beaver County&quot;
  )</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/bc_edges_monochrome-1.png" width="672" /></p>
<p>While this has the benefit of including a large range of data immediately, fine control is lost. All geometries are in a single column, so you couldn’t easily change the size or color of a single feature or feature type to highlight it. The data included isn’t clearly and consistently labeled, either.</p>
<p>That means it would take extra work to figure out what exactly certain lines represent. Some cases are named, and “Third Street” is pretty obviously a road, but others have blank name columns and only obscure variable names like MTFCC.</p>
<p>The <a href="https://www.census.gov/library/reference/code-lists/mt-feature-class-codes.html">MTFCC codes</a> tells us what features mean in the context of the TIGER data, for instance S1400 represents “Minor, unpaved roads usable by ordinary cars and trucks.” Other code explanations are less helpful, like “P0001: Nonvisible Linear Legal/Statistical Boundary.”</p>
<p>Depending on the nature of the analysis, it could make sense to use <code>dplyr</code> functions to break out this data into separate layers. Alternatively, it’s possible to download the separate layers from the Census site, import them as <code>sf</code> objects, and modify them individually before combining them into one map. I prefer this latter approach.</p>
<p>To demonstrate building up a map this way, let’s make one that combines layers for line water (i.e. small creeks and streams), area water (ponds, lakes, rivers), all roads (including “minor, unpaved roads usable by ordinary cars and trucks”), and school districts. We’ll plot these on top of the county outline from the national data set.</p>
<pre class="r"><code>sf_bc %&gt;%
  ggplot() +
  geom_sf(
    color = &quot;#732700&quot;,
    fill = NA,
    size = 1
    ) +
  geom_sf(
    data = sf_roads,
    color = &quot;#ffac33&quot;,
    size = .05,
    alpha = 1
  ) +
  geom_sf(
    data = sf_areawater,
    color = NA,
    fill = &quot;#3e721d&quot;,
    size = .5,
    alpha = .3
  ) +
  geom_sf(
    data = sf_linearwater,
    color = &quot;#3e721d&quot;,
    size = .2,
    alpha = .3
  ) +
  geom_sf(
    data = sf_unsd,
    color = &quot;#55aaff&quot;,
    fill = NA,
    size = .6
  ) +
  coord_sf(
    datum = sf::st_crs(4326)
  ) +
  labs(
    title = &quot;Beaver County School Districts&quot;
  )</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/build_bc_layers-1.png" width="672" /></p>
<p>This was pretty fun to make. I’m not trying to apply “real” cartographic practice here, since there are a lot of semantic conventions that I don’t understand well enough to actually use. In ggplot, the details of each layer (called aesthetics) can be customized heavily, and this flexibility is a big reason the Grammar of Graphics (the gg in ggplot) approach has been successful.</p>
<p>I’m still very much a novice in visual design, so I played around with color here to try and break myself from the lazy conventions of “blue water, green trees, dark colored roads.” I also played with the alpha (transparency) layer to deemphasize the water and roads while emphasizing the school districts.</p>
<p>Mapping like this is a good way to look at the layering approach used by both <code>ggplot2</code> and mapping software. The grammar of graphics approach pairs well with cartography and is very intuitive: take the Beaver County outline, then place yellow roads on top of it. Then put green lakes and rivers on top of that. Finally, add blue school district boundaries and a title.</p>
<p>Editing maps with ggplot is super simple, with the biggest limitation being the time it takes for drawing operations to complete. Other feature layers are simple to add, particularly text with <code>geom_text()</code>. I did not add text to this plot because the work of managing text layers is one too many items to juggle at the moment.</p>
<p>I will work with text more later, however. Thinking more broadly about data, it would be possible to add any almost plot that <code>ggplot2</code> can render to a map, so it’s totally possible to analyze data and plot the results right on a given point.</p>
</div>
<div id="conclusion" class="section level2">
<h2>Conclusion</h2>
<p>When building maps, it’s necessary to have accessible base layers, preferrably ones that do not require expensive licensing and which work at the scale(s) that will be eventually used. The TIGER shapefiles are a good start for US-based mapping and any work that involves Census-related data.</p>
<p>TIGER does not include extensive information on physical features, but the layers it has are sufficient for a great amount of mapping work. When mapping information that requires a map of features from the local level up to the national level in the background for reference, TIGER data should be more than sufficient to get the job done.</p>
<p>For this post, I used <code>ggplot2</code> exclusively to map for consistenty’s sake, but also because I am most familiar with it and because I am curious about how its various extensions work (or don’t work) with cartographic workflows. I want to explore the US Geological Survey’s The National Map (TNM) next, but then I’d like to explore alternative tools.</p>
<p>There is a great deal of variation between major mapping packages, and while ggplot is excellent, I do not want to limit myself. While ggplot has some interactivity when combined with <code>plotly</code>’s <code>ggplotly()</code> function and possibly <code>ggiraph</code>?, there are many other places where flexible interactive maps are necessary. <code>tmap</code> in particular seems quite powerful.</p>
<p>There is also a great deal of work I will do once I’ve created basic maps: using text labels and icon overlays like route numbers, and symbols for features like hospitals, airports, or forests. Eventually, I will start working on more meaningful analysis that requires using other <code>sf</code> columns, joining separate data frames together.</p>
<p>Even with some basic knowledge and effort, I am pleased with how much I can do and impressed with the power and flexibility of the tools and data available. I’m looking forward to doing more.</p>
</div>
