---
title: Wrangling the Current Reservoir Levels data set
date: '2021-06-17'
slug: 2021-06-17-wrangling-the-current-reservoir-levels-data-set
output:
  html_document:
    df_print: kable
---

<script src="{{< blogdown/postref >}}index_files/header-attrs/header-attrs.js"></script>
<script src="{{< blogdown/postref >}}index_files/kePrint/kePrint.js"></script>
<link href="{{< blogdown/postref >}}index_files/lightable/lightable.css" rel="stylesheet" />


<p>Now that I’ve familiarized myself with the R ecosystem, including RStudio, <code>blogdown</code>, querying databases, and basic data wrangling and visualization techniques, I’d like to start with some work of substance. I want to start with work that is small in scope to pace myself.</p>
<p>One of the factors that discourages people from tech work is the disconnect between the headlines and the reality of what needs to be done once work starts.</p>
<p>The cool and sexy work products and analysis that make the news are actually the apex of a very large pyramid, and only focusing on that means ignoring the reality of what most data work actually is. Everybody wants to hammer <a href="https://en.wikipedia.org/wiki/Golden_spike">the golden spike</a>, but the reality of most data work is <a href="https://en.wikipedia.org/wiki/First_transcontinental_railroad#Construction_begun">laying track in Council Bluffs, Iowa</a>.</p>
<p>Many people have <a href="https://www.datacommunitydc.org/blog/2013/08/the-pyramid-of-data-science">covered the data pyramid topic</a> over the years, so I won’t repeat what a simple Google search will return other than to say that the work I am interested in for the near future is about half way up the pyramid.</p>
<p>Since I am interested in working with open data sets, the decisions and work related to collection and storage are already taken care of: I am in effect a customer of unrefined data. The wrangling work of an analyst is predicated on data engineers who send raw data flows into data storage using ETL (extract, transform, load) techniques.</p>
<p>The first set I will be working on is <a href="https://data.cityofnewyork.us/Environment/Current-Reservoir-Levels/zkky-n5j3">Current Reservoir Levels</a> data set from the NYC Department of Environmental Protection (NYCDEP) - not to be confused with the similarly named New York State Department of Environmental <em>Conservation</em> (NYSDEC).</p>
<p>My goals here are to confirm whether the data is tidy, transform it to a long form with <code>pivot_longer()</code>, and split columns with <code>extract()</code>. I will address outliers, missing values, and other data cleanliness issues and visualize the data in a separate post.</p>
<div id="first-look-at-the-data" class="section level2">
<h2>First look at the data</h2>
<p>We’ll use the <code>head()</code> function to take a look.</p>
<table class="table" style="font-size: 12px; margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;">
Point_time
</th>
<th style="text-align:right;">
AUGEVolume
</th>
<th style="text-align:right;">
AUGEASTLEVANALOG
</th>
<th style="text-align:right;">
AUGWVOLUME
</th>
<th style="text-align:right;">
AUGWESTLEVANALOG
</th>
<th style="text-align:right;">
ASHREL
</th>
<th style="text-align:right;">
SICRESVOLUME
</th>
<th style="text-align:right;">
SICRESELEVANALOG
</th>
<th style="text-align:right;">
STPALBFLW
</th>
<th style="text-align:right;">
RECRESVOLUME
</th>
<th style="text-align:right;">
RECRESELEVANALOG
</th>
<th style="text-align:right;">
RECREL
</th>
<th style="text-align:right;">
NICRESVOLUME
</th>
<th style="text-align:right;">
NICRESELEVANALOG
</th>
<th style="text-align:right;">
NICNTHFLW
</th>
<th style="text-align:right;">
NICSTHFLW
</th>
<th style="text-align:right;">
NICCONFLW
</th>
<th style="text-align:right;">
EDIRESVOLUME
</th>
<th style="text-align:right;">
EDIRESELEVANALOG
</th>
<th style="text-align:right;">
EDRNTHFLW
</th>
<th style="text-align:right;">
EDRSTHFLW
</th>
<th style="text-align:right;">
EDRCONFLW
</th>
<th style="text-align:right;">
WDIRESVOLUME
</th>
<th style="text-align:right;">
WDIRESELEVANALOG
</th>
<th style="text-align:right;">
WDRFLW
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
02/01/2019
</td>
<td style="text-align:right;">
75.04
</td>
<td style="text-align:right;">
585.17
</td>
<td style="text-align:right;">
39.67
</td>
<td style="text-align:right;">
584.65
</td>
<td style="text-align:right;">
619
</td>
<td style="text-align:right;">
16.81
</td>
<td style="text-align:right;">
1125.75
</td>
<td style="text-align:right;">
48.3
</td>
<td style="text-align:right;">
47.33
</td>
<td style="text-align:right;">
836.77
</td>
<td style="text-align:right;">
10.21
</td>
<td style="text-align:right;">
35.21
</td>
<td style="text-align:right;">
1440.08
</td>
<td style="text-align:right;">
58.0
</td>
<td style="text-align:right;">
64.8
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
142.01
</td>
<td style="text-align:right;">
1279.56
</td>
<td style="text-align:right;">
225.8
</td>
<td style="text-align:right;">
225.6
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
88.91
</td>
<td style="text-align:right;">
1146.33
</td>
<td style="text-align:right;">
959.2
</td>
</tr>
<tr>
<td style="text-align:left;">
02/02/2019
</td>
<td style="text-align:right;">
74.48
</td>
<td style="text-align:right;">
584.98
</td>
<td style="text-align:right;">
39.50
</td>
<td style="text-align:right;">
584.38
</td>
<td style="text-align:right;">
619
</td>
<td style="text-align:right;">
16.82
</td>
<td style="text-align:right;">
1125.75
</td>
<td style="text-align:right;">
64.6
</td>
<td style="text-align:right;">
47.19
</td>
<td style="text-align:right;">
836.57
</td>
<td style="text-align:right;">
10.21
</td>
<td style="text-align:right;">
35.21
</td>
<td style="text-align:right;">
1440.09
</td>
<td style="text-align:right;">
58.1
</td>
<td style="text-align:right;">
64.8
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
141.62
</td>
<td style="text-align:right;">
1279.35
</td>
<td style="text-align:right;">
225.9
</td>
<td style="text-align:right;">
226.1
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
88.49
</td>
<td style="text-align:right;">
1146.05
</td>
<td style="text-align:right;">
967.4
</td>
</tr>
<tr>
<td style="text-align:left;">
02/03/2019
</td>
<td style="text-align:right;">
73.88
</td>
<td style="text-align:right;">
584.62
</td>
<td style="text-align:right;">
39.34
</td>
<td style="text-align:right;">
584.21
</td>
<td style="text-align:right;">
598
</td>
<td style="text-align:right;">
16.84
</td>
<td style="text-align:right;">
1125.75
</td>
<td style="text-align:right;">
68.1
</td>
<td style="text-align:right;">
47.09
</td>
<td style="text-align:right;">
836.42
</td>
<td style="text-align:right;">
10.19
</td>
<td style="text-align:right;">
35.22
</td>
<td style="text-align:right;">
1440.10
</td>
<td style="text-align:right;">
58.1
</td>
<td style="text-align:right;">
64.8
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
141.25
</td>
<td style="text-align:right;">
1279.15
</td>
<td style="text-align:right;">
225.7
</td>
<td style="text-align:right;">
226.0
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
88.16
</td>
<td style="text-align:right;">
1145.83
</td>
<td style="text-align:right;">
965.7
</td>
</tr>
<tr>
<td style="text-align:left;">
02/04/2019
</td>
<td style="text-align:right;">
73.31
</td>
<td style="text-align:right;">
584.26
</td>
<td style="text-align:right;">
39.17
</td>
<td style="text-align:right;">
584.04
</td>
<td style="text-align:right;">
586
</td>
<td style="text-align:right;">
16.93
</td>
<td style="text-align:right;">
1125.81
</td>
<td style="text-align:right;">
62.5
</td>
<td style="text-align:right;">
46.99
</td>
<td style="text-align:right;">
836.27
</td>
<td style="text-align:right;">
10.20
</td>
<td style="text-align:right;">
35.23
</td>
<td style="text-align:right;">
1440.12
</td>
<td style="text-align:right;">
58.1
</td>
<td style="text-align:right;">
64.9
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
140.94
</td>
<td style="text-align:right;">
1278.98
</td>
<td style="text-align:right;">
225.7
</td>
<td style="text-align:right;">
225.6
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
87.91
</td>
<td style="text-align:right;">
1145.66
</td>
<td style="text-align:right;">
966.5
</td>
</tr>
<tr>
<td style="text-align:left;">
02/05/2019
</td>
<td style="text-align:right;">
72.76
</td>
<td style="text-align:right;">
583.90
</td>
<td style="text-align:right;">
39.19
</td>
<td style="text-align:right;">
583.85
</td>
<td style="text-align:right;">
584
</td>
<td style="text-align:right;">
17.16
</td>
<td style="text-align:right;">
1126.03
</td>
<td style="text-align:right;">
57.5
</td>
<td style="text-align:right;">
46.96
</td>
<td style="text-align:right;">
836.20
</td>
<td style="text-align:right;">
10.19
</td>
<td style="text-align:right;">
35.27
</td>
<td style="text-align:right;">
1440.19
</td>
<td style="text-align:right;">
58.0
</td>
<td style="text-align:right;">
64.9
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
140.92
</td>
<td style="text-align:right;">
1278.97
</td>
<td style="text-align:right;">
225.8
</td>
<td style="text-align:right;">
225.5
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
88.24
</td>
<td style="text-align:right;">
1145.88
</td>
<td style="text-align:right;">
960.3
</td>
</tr>
<tr>
<td style="text-align:left;">
02/06/2019
</td>
<td style="text-align:right;">
72.26
</td>
<td style="text-align:right;">
583.55
</td>
<td style="text-align:right;">
39.52
</td>
<td style="text-align:right;">
583.88
</td>
<td style="text-align:right;">
583
</td>
<td style="text-align:right;">
17.25
</td>
<td style="text-align:right;">
1126.70
</td>
<td style="text-align:right;">
49.4
</td>
<td style="text-align:right;">
47.09
</td>
<td style="text-align:right;">
836.42
</td>
<td style="text-align:right;">
10.19
</td>
<td style="text-align:right;">
35.28
</td>
<td style="text-align:right;">
1440.21
</td>
<td style="text-align:right;">
58.1
</td>
<td style="text-align:right;">
64.9
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
141.22
</td>
<td style="text-align:right;">
1279.13
</td>
<td style="text-align:right;">
225.7
</td>
<td style="text-align:right;">
225.8
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
88.64
</td>
<td style="text-align:right;">
1146.15
</td>
<td style="text-align:right;">
964.2
</td>
</tr>
</tbody>
</table>
<p>My first observations are that these column names are completely unintelligible and that everything appears to be numbers, which should simplify getting the correct types. Let’s look at how <code>read_csv()</code> interpreted the column types.</p>
<p>I’ll use <code>skimr::skim()</code> to return the types because it returns the column types without fuss and, unlike <code>glimpse()</code>, it works when piped into <code>kable()</code> and therefore is prettier to display. I’m starting to learn more about the complexity of package interaction: there are a lot of packages and use cases which do not play well together.</p>
<div style="border: 1px solid #ddd; padding: 0px; overflow-y: scroll; height:15em; ">
<table class="table" style="font-size: 12px; margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
skim_type
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
skim_variable
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
n_missing
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
complete_rate
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
character.min
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
character.max
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
character.empty
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
character.n_unique
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
character.whitespace
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
numeric.mean
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
numeric.sd
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
numeric.p0
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
numeric.p25
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
numeric.p50
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
numeric.p75
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
numeric.p100
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
numeric.hist
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
character
</td>
<td style="text-align:left;">
Point_time
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
10
</td>
<td style="text-align:right;">
10
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1307
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:left;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
AUGEVolume
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
70.7547670
</td>
<td style="text-align:right;">
8.0147475
</td>
<td style="text-align:right;">
43.32
</td>
<td style="text-align:right;">
65.44
</td>
<td style="text-align:right;">
73.38
</td>
<td style="text-align:right;">
77.33
</td>
<td style="text-align:right;">
81.45
</td>
<td style="text-align:left;">
▁▂▂▅▇
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
AUGEASTLEVANALOG
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
581.9706493
</td>
<td style="text-align:right;">
5.2570404
</td>
<td style="text-align:right;">
563.21
</td>
<td style="text-align:right;">
578.84
</td>
<td style="text-align:right;">
583.71
</td>
<td style="text-align:right;">
586.35
</td>
<td style="text-align:right;">
588.83
</td>
<td style="text-align:left;">
▁▁▂▅▇
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
AUGWVOLUME
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
38.6308480
</td>
<td style="text-align:right;">
6.0850618
</td>
<td style="text-align:right;">
21.81
</td>
<td style="text-align:right;">
35.21
</td>
<td style="text-align:right;">
39.75
</td>
<td style="text-align:right;">
43.30
</td>
<td style="text-align:right;">
47.69
</td>
<td style="text-align:left;">
▁▃▃▇▆
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
AUGWESTLEVANALOG
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
582.6484570
</td>
<td style="text-align:right;">
6.7243636
</td>
<td style="text-align:right;">
562.37
</td>
<td style="text-align:right;">
579.03
</td>
<td style="text-align:right;">
584.34
</td>
<td style="text-align:right;">
587.85
</td>
<td style="text-align:right;">
591.46
</td>
<td style="text-align:left;">
▁▂▂▇▇
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
ASHREL
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
160.8898396
</td>
<td style="text-align:right;">
226.6211923
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
13.00
</td>
<td style="text-align:right;">
18.00
</td>
<td style="text-align:right;">
324.00
</td>
<td style="text-align:right;">
623.00
</td>
<td style="text-align:left;">
▇▁▁▁▂
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
SICRESVOLUME
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
16.4825898
</td>
<td style="text-align:right;">
2.2500972
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
15.75
</td>
<td style="text-align:right;">
16.92
</td>
<td style="text-align:right;">
18.26
</td>
<td style="text-align:right;">
19.72
</td>
<td style="text-align:left;">
▁▁▁▂▇
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
SICRESELEVANALOG
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
1124.0199083
</td>
<td style="text-align:right;">
10.3972483
</td>
<td style="text-align:right;">
1035.00
</td>
<td style="text-align:right;">
1121.90
</td>
<td style="text-align:right;">
1125.88
</td>
<td style="text-align:right;">
1129.08
</td>
<td style="text-align:right;">
1362.67
</td>
<td style="text-align:left;">
▁▇▁▁▁
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
STPALBFLW
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
73.5948052
</td>
<td style="text-align:right;">
85.3216774
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
1.00
</td>
<td style="text-align:right;">
37.90
</td>
<td style="text-align:right;">
125.90
</td>
<td style="text-align:right;">
569.60
</td>
<td style="text-align:left;">
▇▅▁▁▁
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
RECRESVOLUME
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
47.7186173
</td>
<td style="text-align:right;">
0.7529521
</td>
<td style="text-align:right;">
45.34
</td>
<td style="text-align:right;">
47.22
</td>
<td style="text-align:right;">
47.73
</td>
<td style="text-align:right;">
48.29
</td>
<td style="text-align:right;">
49.31
</td>
<td style="text-align:left;">
▁▂▇▇▃
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
RECRESELEVANALOG
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
837.2233309
</td>
<td style="text-align:right;">
1.1499935
</td>
<td style="text-align:right;">
833.74
</td>
<td style="text-align:right;">
836.46
</td>
<td style="text-align:right;">
837.31
</td>
<td style="text-align:right;">
838.11
</td>
<td style="text-align:right;">
839.65
</td>
<td style="text-align:left;">
▁▃▇▇▃
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
RECREL
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
15.5071429
</td>
<td style="text-align:right;">
47.0380886
</td>
<td style="text-align:right;">
9.46
</td>
<td style="text-align:right;">
9.94
</td>
<td style="text-align:right;">
10.21
</td>
<td style="text-align:right;">
14.72
</td>
<td style="text-align:right;">
731.00
</td>
<td style="text-align:left;">
▇▁▁▁▁
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
NICRESVOLUME
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
32.9248052
</td>
<td style="text-align:right;">
2.6853581
</td>
<td style="text-align:right;">
23.33
</td>
<td style="text-align:right;">
31.39
</td>
<td style="text-align:right;">
33.74
</td>
<td style="text-align:right;">
35.22
</td>
<td style="text-align:right;">
35.90
</td>
<td style="text-align:left;">
▁▁▂▃▇
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
NICRESELEVANALOG
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
1435.1561877
</td>
<td style="text-align:right;">
5.7888105
</td>
<td style="text-align:right;">
1413.39
</td>
<td style="text-align:right;">
1431.88
</td>
<td style="text-align:right;">
1437.02
</td>
<td style="text-align:right;">
1440.08
</td>
<td style="text-align:right;">
1441.42
</td>
<td style="text-align:left;">
▁▁▂▃▇
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
NICNTHFLW
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
30.3886784
</td>
<td style="text-align:right;">
28.9678642
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
38.50
</td>
<td style="text-align:right;">
61.00
</td>
<td style="text-align:right;">
78.25
</td>
<td style="text-align:left;">
▇▁▂▆▁
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
NICSTHFLW
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
50.5201986
</td>
<td style="text-align:right;">
25.1924814
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
39.10
</td>
<td style="text-align:right;">
61.09
</td>
<td style="text-align:right;">
65.10
</td>
<td style="text-align:right;">
99.99
</td>
<td style="text-align:left;">
▂▁▁▇▁
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
NICCONFLW
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
0.0807869
</td>
<td style="text-align:right;">
1.0604576
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
20.00
</td>
<td style="text-align:left;">
▇▁▁▁▁
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
EDIRESVOLUME
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
129.4795111
</td>
<td style="text-align:right;">
13.1585229
</td>
<td style="text-align:right;">
96.83
</td>
<td style="text-align:right;">
118.20
</td>
<td style="text-align:right;">
132.75
</td>
<td style="text-align:right;">
141.55
</td>
<td style="text-align:right;">
152.67
</td>
<td style="text-align:left;">
▂▅▅▇▆
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
EDIRESELEVANALOG
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
1276.3336520
</td>
<td style="text-align:right;">
27.9253472
</td>
<td style="text-align:right;">
1252.55
</td>
<td style="text-align:right;">
1265.90
</td>
<td style="text-align:right;">
1274.39
</td>
<td style="text-align:right;">
1279.33
</td>
<td style="text-align:right;">
1572.72
</td>
<td style="text-align:left;">
▇▁▁▁▁
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
EDRNTHFLW
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
92.5472574
</td>
<td style="text-align:right;">
87.4711606
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
80.50
</td>
<td style="text-align:right;">
191.50
</td>
<td style="text-align:right;">
235.10
</td>
<td style="text-align:left;">
▇▅▃▁▆
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
EDRSTHFLW
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
99.7966234
</td>
<td style="text-align:right;">
84.2206902
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
12.30
</td>
<td style="text-align:right;">
88.30
</td>
<td style="text-align:right;">
193.90
</td>
<td style="text-align:right;">
234.90
</td>
<td style="text-align:left;">
▇▇▅▁▇
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
EDRCONFLW
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
0.2058824
</td>
<td style="text-align:right;">
1.9839503
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
23.00
</td>
<td style="text-align:left;">
▇▁▁▁▁
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
WDIRESVOLUME
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
79.3403438
</td>
<td style="text-align:right;">
16.3171543
</td>
<td style="text-align:right;">
38.98
</td>
<td style="text-align:right;">
70.24
</td>
<td style="text-align:right;">
85.01
</td>
<td style="text-align:right;">
91.96
</td>
<td style="text-align:right;">
99.11
</td>
<td style="text-align:left;">
▂▂▂▅▇
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
WDIRESELEVANALOG
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
1138.7774714
</td>
<td style="text-align:right;">
12.4987642
</td>
<td style="text-align:right;">
1106.23
</td>
<td style="text-align:right;">
1132.51
</td>
<td style="text-align:right;">
1143.66
</td>
<td style="text-align:right;">
1148.33
</td>
<td style="text-align:right;">
1151.95
</td>
<td style="text-align:left;">
▂▁▁▃▇
</td>
</tr>
<tr>
<td style="text-align:left;">
numeric
</td>
<td style="text-align:left;">
WDRFLW
</td>
<td style="text-align:right;">
0
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
467.1185638
</td>
<td style="text-align:right;">
325.5462756
</td>
<td style="text-align:right;">
17.00
</td>
<td style="text-align:right;">
213.90
</td>
<td style="text-align:right;">
365.50
</td>
<td style="text-align:right;">
832.10
</td>
<td style="text-align:right;">
1009.60
</td>
<td style="text-align:left;">
▆▇▂▁▆
</td>
</tr>
</tbody>
</table>
</div>
<p>There’s a lot of information here, but we’re interested in the first two columns. Every number was correctly interpreted, but Point_time was interpreted as a character when it is actually a date. So we have two fairly simple corrections to make: rename the columns, and change the date column to a date data type.</p>
</div>
<div id="adding-human-friendly-column-headers" class="section level2">
<h2>Adding human-friendly column headers</h2>
<p>After taking a look at the <a href="https://data.cityofnewyork.us/api/views/zkky-n5j3/files/59ca8c46-7f0b-4e83-82f4-04544317952e?download=true&amp;filename=Data_Dictionary_Water_Resevoir_Levels_Updated.xlsx">data dictionary</a> from the NYC Open Data page to figure out how to interpret these columns, I see that they provide labels that are much more human-friendly. We’ll use those instead and rename using <code>dplyr::rename()</code>:</p>
<table class="table" style="font-size: 12px; margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;">
Date
</th>
<th style="text-align:right;">
Ashokan East Storage
</th>
<th style="text-align:right;">
Ashokan East Elevation
</th>
<th style="text-align:right;">
Ashokan West Elevation
</th>
<th style="text-align:right;">
Ashokan West Storage
</th>
<th style="text-align:right;">
Ashokan Release
</th>
<th style="text-align:right;">
Schoharie Storage
</th>
<th style="text-align:right;">
Schoharie Elevation
</th>
<th style="text-align:right;">
Schoharie Release
</th>
<th style="text-align:right;">
Rondout Storage
</th>
<th style="text-align:right;">
Rondout Elevation
</th>
<th style="text-align:right;">
Rondout Release
</th>
<th style="text-align:right;">
Neversink Storage
</th>
<th style="text-align:right;">
Neversink Elevation
</th>
<th style="text-align:right;">
Neversink North Flow Release
</th>
<th style="text-align:right;">
Neversink South Flow Release
</th>
<th style="text-align:right;">
Neversink Conservation Flow Release
</th>
<th style="text-align:right;">
Pepacton Storage
</th>
<th style="text-align:right;">
Pepacton Elevation
</th>
<th style="text-align:right;">
Pepacton North Flow Release
</th>
<th style="text-align:right;">
Pepacton South Flow Release
</th>
<th style="text-align:right;">
Pepacton Conservation Flow Release
</th>
<th style="text-align:right;">
Cannonsville Storage
</th>
<th style="text-align:right;">
Cannonsville Elevation
</th>
<th style="text-align:right;">
Cannonsville Release
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
01/01/2018
</td>
<td style="text-align:right;min-width: 10em; ">
59.94
</td>
<td style="text-align:right;min-width: 10em; ">
574.00
</td>
<td style="text-align:right;min-width: 10em; ">
32.67
</td>
<td style="text-align:right;min-width: 10em; ">
574.33
</td>
<td style="text-align:right;min-width: 10em; ">
10
</td>
<td style="text-align:right;min-width: 10em; ">
13.10
</td>
<td style="text-align:right;min-width: 10em; ">
1110.44
</td>
<td style="text-align:right;min-width: 10em; ">
176.0
</td>
<td style="text-align:right;min-width: 10em; ">
48.26
</td>
<td style="text-align:right;min-width: 10em; ">
837.34
</td>
<td style="text-align:right;min-width: 10em; ">
9.74
</td>
<td style="text-align:right;min-width: 10em; ">
29.64
</td>
<td style="text-align:right;min-width: 10em; ">
1427.56
</td>
<td style="text-align:right;min-width: 10em; ">
35.70
</td>
<td style="text-align:right;min-width: 10em; ">
0.00
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
111.39
</td>
<td style="text-align:right;min-width: 10em; ">
1261.24
</td>
<td style="text-align:right;min-width: 10em; ">
47.6
</td>
<td style="text-align:right;min-width: 10em; ">
0.0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
48.80
</td>
<td style="text-align:right;min-width: 10em; ">
1113.87
</td>
<td style="text-align:right;min-width: 10em; ">
87.5
</td>
</tr>
<tr>
<td style="text-align:left;">
01/01/2019
</td>
<td style="text-align:right;min-width: 10em; ">
74.47
</td>
<td style="text-align:right;min-width: 10em; ">
584.62
</td>
<td style="text-align:right;min-width: 10em; ">
42.99
</td>
<td style="text-align:right;min-width: 10em; ">
587.85
</td>
<td style="text-align:right;min-width: 10em; ">
594
</td>
<td style="text-align:right;min-width: 10em; ">
17.08
</td>
<td style="text-align:right;min-width: 10em; ">
1126.06
</td>
<td style="text-align:right;min-width: 10em; ">
5.8
</td>
<td style="text-align:right;min-width: 10em; ">
47.94
</td>
<td style="text-align:right;min-width: 10em; ">
837.69
</td>
<td style="text-align:right;min-width: 10em; ">
10.05
</td>
<td style="text-align:right;min-width: 10em; ">
35.41
</td>
<td style="text-align:right;min-width: 10em; ">
1440.47
</td>
<td style="text-align:right;min-width: 10em; ">
61.80
</td>
<td style="text-align:right;min-width: 10em; ">
61.00
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
143.69
</td>
<td style="text-align:right;min-width: 10em; ">
1280.39
</td>
<td style="text-align:right;min-width: 10em; ">
226.0
</td>
<td style="text-align:right;min-width: 10em; ">
226.2
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
90.17
</td>
<td style="text-align:right;min-width: 10em; ">
1147.18
</td>
<td style="text-align:right;min-width: 10em; ">
969.0
</td>
</tr>
<tr>
<td style="text-align:left;">
01/01/2020
</td>
<td style="text-align:right;min-width: 10em; ">
75.18
</td>
<td style="text-align:right;min-width: 10em; ">
585.06
</td>
<td style="text-align:right;min-width: 10em; ">
37.84
</td>
<td style="text-align:right;min-width: 10em; ">
582.65
</td>
<td style="text-align:right;min-width: 10em; ">
588
</td>
<td style="text-align:right;min-width: 10em; ">
16.96
</td>
<td style="text-align:right;min-width: 10em; ">
1126.55
</td>
<td style="text-align:right;min-width: 10em; ">
1.4
</td>
<td style="text-align:right;min-width: 10em; ">
47.62
</td>
<td style="text-align:right;min-width: 10em; ">
837.41
</td>
<td style="text-align:right;min-width: 10em; ">
10.19
</td>
<td style="text-align:right;min-width: 10em; ">
32.61
</td>
<td style="text-align:right;min-width: 10em; ">
1435.03
</td>
<td style="text-align:right;min-width: 10em; ">
70.80
</td>
<td style="text-align:right;min-width: 10em; ">
0.00
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
126.95
</td>
<td style="text-align:right;min-width: 10em; ">
1270.95
</td>
<td style="text-align:right;min-width: 10em; ">
97.3
</td>
<td style="text-align:right;min-width: 10em; ">
96.8
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
84.57
</td>
<td style="text-align:right;min-width: 10em; ">
1143.07
</td>
<td style="text-align:right;min-width: 10em; ">
389.7
</td>
</tr>
<tr>
<td style="text-align:left;">
01/01/2021
</td>
<td style="text-align:right;min-width: 10em; ">
72.75
</td>
<td style="text-align:right;min-width: 10em; ">
583.55
</td>
<td style="text-align:right;min-width: 10em; ">
41.40
</td>
<td style="text-align:right;min-width: 10em; ">
586.21
</td>
<td style="text-align:right;min-width: 10em; ">
592
</td>
<td style="text-align:right;min-width: 10em; ">
16.81
</td>
<td style="text-align:right;min-width: 10em; ">
1125.69
</td>
<td style="text-align:right;min-width: 10em; ">
1.9
</td>
<td style="text-align:right;min-width: 10em; ">
47.17
</td>
<td style="text-align:right;min-width: 10em; ">
836.53
</td>
<td style="text-align:right;min-width: 10em; ">
9.97
</td>
<td style="text-align:right;min-width: 10em; ">
35.28
</td>
<td style="text-align:right;min-width: 10em; ">
1440.22
</td>
<td style="text-align:right;min-width: 10em; ">
61.27
</td>
<td style="text-align:right;min-width: 10em; ">
62.35
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
129.68
</td>
<td style="text-align:right;min-width: 10em; ">
1572.72
</td>
<td style="text-align:right;min-width: 10em; ">
97.6
</td>
<td style="text-align:right;min-width: 10em; ">
97.2
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
81.50
</td>
<td style="text-align:right;min-width: 10em; ">
1141.20
</td>
<td style="text-align:right;min-width: 10em; ">
152.7
</td>
</tr>
<tr>
<td style="text-align:left;">
01/02/2018
</td>
<td style="text-align:right;min-width: 10em; ">
59.89
</td>
<td style="text-align:right;min-width: 10em; ">
573.99
</td>
<td style="text-align:right;min-width: 10em; ">
32.57
</td>
<td style="text-align:right;min-width: 10em; ">
574.29
</td>
<td style="text-align:right;min-width: 10em; ">
10
</td>
<td style="text-align:right;min-width: 10em; ">
12.81
</td>
<td style="text-align:right;min-width: 10em; ">
1109.46
</td>
<td style="text-align:right;min-width: 10em; ">
189.1
</td>
<td style="text-align:right;min-width: 10em; ">
48.17
</td>
<td style="text-align:right;min-width: 10em; ">
837.20
</td>
<td style="text-align:right;min-width: 10em; ">
9.76
</td>
<td style="text-align:right;min-width: 10em; ">
28.92
</td>
<td style="text-align:right;min-width: 10em; ">
1425.94
</td>
<td style="text-align:right;min-width: 10em; ">
36.10
</td>
<td style="text-align:right;min-width: 10em; ">
0.00
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
111.01
</td>
<td style="text-align:right;min-width: 10em; ">
1261.01
</td>
<td style="text-align:right;min-width: 10em; ">
47.6
</td>
<td style="text-align:right;min-width: 10em; ">
0.0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
48.95
</td>
<td style="text-align:right;min-width: 10em; ">
1114.00
</td>
<td style="text-align:right;min-width: 10em; ">
87.4
</td>
</tr>
<tr>
<td style="text-align:left;">
01/02/2019
</td>
<td style="text-align:right;min-width: 10em; ">
74.50
</td>
<td style="text-align:right;min-width: 10em; ">
584.62
</td>
<td style="text-align:right;min-width: 10em; ">
42.77
</td>
<td style="text-align:right;min-width: 10em; ">
587.85
</td>
<td style="text-align:right;min-width: 10em; ">
601
</td>
<td style="text-align:right;min-width: 10em; ">
17.01
</td>
<td style="text-align:right;min-width: 10em; ">
1126.06
</td>
<td style="text-align:right;min-width: 10em; ">
1.0
</td>
<td style="text-align:right;min-width: 10em; ">
47.60
</td>
<td style="text-align:right;min-width: 10em; ">
837.18
</td>
<td style="text-align:right;min-width: 10em; ">
9.93
</td>
<td style="text-align:right;min-width: 10em; ">
35.33
</td>
<td style="text-align:right;min-width: 10em; ">
1440.32
</td>
<td style="text-align:right;min-width: 10em; ">
61.70
</td>
<td style="text-align:right;min-width: 10em; ">
60.90
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
143.43
</td>
<td style="text-align:right;min-width: 10em; ">
1280.33
</td>
<td style="text-align:right;min-width: 10em; ">
225.7
</td>
<td style="text-align:right;min-width: 10em; ">
226.2
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
90.13
</td>
<td style="text-align:right;min-width: 10em; ">
1147.15
</td>
<td style="text-align:right;min-width: 10em; ">
969.4
</td>
</tr>
</tbody>
</table>
<p>The names are good, but notice how the dates are arranged now. I added <code>arrange(Date)</code> to sort the rows by date because they were out of order in the raw data set. Since they are a character class, <code>arrange()</code> interpreted them <em>alphanumberically</em>, in other words 01/01/2019 comes before 01/01/2020 rather than coming before 01/02/2019.</p>
<p>To correct this, we’ll convert the first column to dates using <code>lubridate::mdy()</code>, confirm with <code>class()</code>, and look again.</p>
<pre class="r"><code>data$Date &lt;- data$Date %&gt;%
  mdy()
class(data$Date)</code></pre>
<pre><code>## [1] &quot;Date&quot;</code></pre>
<table class="table" style="font-size: 12px; margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;">
Date
</th>
<th style="text-align:right;">
Ashokan East Storage
</th>
<th style="text-align:right;">
Ashokan East Elevation
</th>
<th style="text-align:right;">
Ashokan West Elevation
</th>
<th style="text-align:right;">
Ashokan West Storage
</th>
<th style="text-align:right;">
Ashokan Release
</th>
<th style="text-align:right;">
Schoharie Storage
</th>
<th style="text-align:right;">
Schoharie Elevation
</th>
<th style="text-align:right;">
Schoharie Release
</th>
<th style="text-align:right;">
Rondout Storage
</th>
<th style="text-align:right;">
Rondout Elevation
</th>
<th style="text-align:right;">
Rondout Release
</th>
<th style="text-align:right;">
Neversink Storage
</th>
<th style="text-align:right;">
Neversink Elevation
</th>
<th style="text-align:right;">
Neversink North Flow Release
</th>
<th style="text-align:right;">
Neversink South Flow Release
</th>
<th style="text-align:right;">
Neversink Conservation Flow Release
</th>
<th style="text-align:right;">
Pepacton Storage
</th>
<th style="text-align:right;">
Pepacton Elevation
</th>
<th style="text-align:right;">
Pepacton North Flow Release
</th>
<th style="text-align:right;">
Pepacton South Flow Release
</th>
<th style="text-align:right;">
Pepacton Conservation Flow Release
</th>
<th style="text-align:right;">
Cannonsville Storage
</th>
<th style="text-align:right;">
Cannonsville Elevation
</th>
<th style="text-align:right;">
Cannonsville Release
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:right;min-width: 10em; ">
65.36
</td>
<td style="text-align:right;min-width: 10em; ">
577.86
</td>
<td style="text-align:right;min-width: 10em; ">
36.34
</td>
<td style="text-align:right;min-width: 10em; ">
577.89
</td>
<td style="text-align:right;min-width: 10em; ">
18
</td>
<td style="text-align:right;min-width: 10em; ">
12.92
</td>
<td style="text-align:right;min-width: 10em; ">
1109.86
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
47.26
</td>
<td style="text-align:right;min-width: 10em; ">
835.85
</td>
<td style="text-align:right;min-width: 10em; ">
9.92
</td>
<td style="text-align:right;min-width: 10em; ">
30.74
</td>
<td style="text-align:right;min-width: 10em; ">
1430.03
</td>
<td style="text-align:right;min-width: 10em; ">
38.9
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
116.60
</td>
<td style="text-align:right;min-width: 10em; ">
1264.45
</td>
<td style="text-align:right;min-width: 10em; ">
51.7
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
47.69
</td>
<td style="text-align:right;min-width: 10em; ">
1112.87
</td>
<td style="text-align:right;min-width: 10em; ">
97.3
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:right;min-width: 10em; ">
64.95
</td>
<td style="text-align:right;min-width: 10em; ">
577.58
</td>
<td style="text-align:right;min-width: 10em; ">
36.82
</td>
<td style="text-align:right;min-width: 10em; ">
578.59
</td>
<td style="text-align:right;min-width: 10em; ">
11
</td>
<td style="text-align:right;min-width: 10em; ">
13.28
</td>
<td style="text-align:right;min-width: 10em; ">
1111.05
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
47.32
</td>
<td style="text-align:right;min-width: 10em; ">
835.94
</td>
<td style="text-align:right;min-width: 10em; ">
9.92
</td>
<td style="text-align:right;min-width: 10em; ">
30.68
</td>
<td style="text-align:right;min-width: 10em; ">
1429.90
</td>
<td style="text-align:right;min-width: 10em; ">
39.0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
116.87
</td>
<td style="text-align:right;min-width: 10em; ">
1264.61
</td>
<td style="text-align:right;min-width: 10em; ">
51.7
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
48.20
</td>
<td style="text-align:right;min-width: 10em; ">
1113.33
</td>
<td style="text-align:right;min-width: 10em; ">
97.6
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:right;min-width: 10em; ">
64.36
</td>
<td style="text-align:right;min-width: 10em; ">
577.31
</td>
<td style="text-align:right;min-width: 10em; ">
37.18
</td>
<td style="text-align:right;min-width: 10em; ">
579.14
</td>
<td style="text-align:right;min-width: 10em; ">
12
</td>
<td style="text-align:right;min-width: 10em; ">
13.56
</td>
<td style="text-align:right;min-width: 10em; ">
1111.97
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
47.22
</td>
<td style="text-align:right;min-width: 10em; ">
835.79
</td>
<td style="text-align:right;min-width: 10em; ">
9.89
</td>
<td style="text-align:right;min-width: 10em; ">
30.72
</td>
<td style="text-align:right;min-width: 10em; ">
1429.99
</td>
<td style="text-align:right;min-width: 10em; ">
39.0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
117.08
</td>
<td style="text-align:right;min-width: 10em; ">
1264.74
</td>
<td style="text-align:right;min-width: 10em; ">
51.8
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
48.66
</td>
<td style="text-align:right;min-width: 10em; ">
1113.74
</td>
<td style="text-align:right;min-width: 10em; ">
97.8
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:right;min-width: 10em; ">
63.71
</td>
<td style="text-align:right;min-width: 10em; ">
576.94
</td>
<td style="text-align:right;min-width: 10em; ">
37.49
</td>
<td style="text-align:right;min-width: 10em; ">
579.56
</td>
<td style="text-align:right;min-width: 10em; ">
12
</td>
<td style="text-align:right;min-width: 10em; ">
13.78
</td>
<td style="text-align:right;min-width: 10em; ">
1112.73
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
47.28
</td>
<td style="text-align:right;min-width: 10em; ">
835.88
</td>
<td style="text-align:right;min-width: 10em; ">
9.89
</td>
<td style="text-align:right;min-width: 10em; ">
30.83
</td>
<td style="text-align:right;min-width: 10em; ">
1430.22
</td>
<td style="text-align:right;min-width: 10em; ">
39.1
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
117.15
</td>
<td style="text-align:right;min-width: 10em; ">
1264.78
</td>
<td style="text-align:right;min-width: 10em; ">
51.8
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
49.05
</td>
<td style="text-align:right;min-width: 10em; ">
1114.09
</td>
<td style="text-align:right;min-width: 10em; ">
98.0
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-05
</td>
<td style="text-align:right;min-width: 10em; ">
63.15
</td>
<td style="text-align:right;min-width: 10em; ">
576.52
</td>
<td style="text-align:right;min-width: 10em; ">
37.78
</td>
<td style="text-align:right;min-width: 10em; ">
579.92
</td>
<td style="text-align:right;min-width: 10em; ">
12
</td>
<td style="text-align:right;min-width: 10em; ">
13.98
</td>
<td style="text-align:right;min-width: 10em; ">
1113.39
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
47.36
</td>
<td style="text-align:right;min-width: 10em; ">
836.00
</td>
<td style="text-align:right;min-width: 10em; ">
9.82
</td>
<td style="text-align:right;min-width: 10em; ">
30.94
</td>
<td style="text-align:right;min-width: 10em; ">
1430.47
</td>
<td style="text-align:right;min-width: 10em; ">
39.1
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
117.11
</td>
<td style="text-align:right;min-width: 10em; ">
1264.76
</td>
<td style="text-align:right;min-width: 10em; ">
51.8
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
49.35
</td>
<td style="text-align:right;min-width: 10em; ">
1114.36
</td>
<td style="text-align:right;min-width: 10em; ">
97.7
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-06
</td>
<td style="text-align:right;min-width: 10em; ">
62.53
</td>
<td style="text-align:right;min-width: 10em; ">
576.14
</td>
<td style="text-align:right;min-width: 10em; ">
38.04
</td>
<td style="text-align:right;min-width: 10em; ">
580.24
</td>
<td style="text-align:right;min-width: 10em; ">
13
</td>
<td style="text-align:right;min-width: 10em; ">
14.19
</td>
<td style="text-align:right;min-width: 10em; ">
1114.04
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
47.46
</td>
<td style="text-align:right;min-width: 10em; ">
836.14
</td>
<td style="text-align:right;min-width: 10em; ">
9.76
</td>
<td style="text-align:right;min-width: 10em; ">
31.07
</td>
<td style="text-align:right;min-width: 10em; ">
1430.75
</td>
<td style="text-align:right;min-width: 10em; ">
40.7
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
117.23
</td>
<td style="text-align:right;min-width: 10em; ">
1264.83
</td>
<td style="text-align:right;min-width: 10em; ">
54.0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
0
</td>
<td style="text-align:right;min-width: 10em; ">
49.75
</td>
<td style="text-align:right;min-width: 10em; ">
1114.72
</td>
<td style="text-align:right;min-width: 10em; ">
102.5
</td>
</tr>
</tbody>
</table>
<p>Great. The date is now arranged in ascending date order and displayed in R’s standard YYYY-MM-DD format, which is fine for our purposes here. Now we’re ready to talk about the tidiness of the data.</p>
</div>
<div id="semantics-of-the-data" class="section level2">
<h2>Semantics of the data</h2>
<p>Tidy data is not a new concept, but its formal study and the popularity of the term have recently grown in stature with the importance of machine learning in modern business and the need for consistent approaches to manipulating data.</p>
<p>Hadley Wickham’s <a href="https://www.jstatsoft.org/index.php/jss/article/view/v059i10/v59i10.pdf">2013 paper</a> on the topic and continued work on the <code>tidyverse</code> have also facilitated the spread of the concept, and there are plenty of good introductions and breakdowns of the topic. I like the <a href="https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html">R tidy data vignette</a>.</p>
<p>Tidy data by definition has three elements:</p>
<ol style="list-style-type: decimal">
<li>Each column represents a variable</li>
<li>Each row represents an observation</li>
<li>Each cell contains one value</li>
</ol>
<p>Some treatments also add “each table represents one level of observation.” So, is the Current Reservoir Levels data set tidy?</p>
<p>To answer that, we need to explore the semantics a bit. The larger context of the data set is the water supply of New York City, which is a fascinating world of engineering in itself.</p>
<p>In our data set, we have the six upstate reservoirs represented which supply about 90% of the city’s water. They are from the Catskills (Ashokan and Schoharie) and Delaware (Rondout, Neversink, Pepacton, Cannonsville) watersheds. For each reservoir, there are three types of measurements, and some basins have multiple sites for each type:</p>
<ol style="list-style-type: decimal">
<li>Storage in billion gallons (BG)</li>
<li>Elevation in feet (FT)</li>
<li>Release in millions of gallons per day (MGD)</li>
</ol>
<p>Storage represents how much water is in the reservoir, elevation represents the height of the surface of the water, and release represents how much water leaves the reservoir. Now we can consider what each column name means in terms of tidiness.</p>
<p>When our second column says “Ashokan East Storage,” that means it’s a measurement from the Ashokan reservoir, measuring storage, in the East Basin. When another column says “Schoharie Storage,” that means it’s a measurement from the Schoharie reservoir measuring storage. This means some columns have three variables per column, and all columns have at least two variables.</p>
<p>Since tidy data requires that each variable is its own column, our data is not tidy. To correct this, we will pivot our table using <code>pivot_longer()</code> and regular expressions (regex).</p>
</div>
<div id="pivoting-the-data" class="section level2">
<h2>Pivoting the data</h2>
<p>It’s simple to say what we want to do to make the data tidy: move the reservoir name to its own column, move the measurement type to its own column, and move the measurement site (where applicable) to its own column. Finally, we want to move the values to their own column.</p>
<p>This is where the actual difficulty and frustration in tech work happnes. How do I do this task given the tools I know? Are there other tools? There are many ways to do any given part, but how do I chain everything together in a way that works? Am I asking the wrong question? Am I approaching the solution from the wrong angle?</p>
<p>I suspect there’s no way to get over this initial hump other than having people to ask for help, expending elbow grease, taking deep dives into the documentation, gaining experience, and perfecting your Google Fu.</p>
<p>Once we break down the complex operation we want to perform into this simpler series of instructions, and then identify a set of tools that act accordingly (and in the way we expect them to), it’s not too difficult to transform the data. In this case, we are pivoting variables embedded in the column headers to transform them into new rows.</p>
<p>To tell R how we specifically want to break up the column headers, we will use regex. To avoid an overly complex single operation that is unnecessary and possibly impossible, we will break this pivot down into multiple steps. First, we’ll separate the reservoir name and measurement type.</p>
<p>The reservoir name is the first word in the columns, and is then separated with a space from the rest of the title (the measurement site and type). We want a regex that says: one word, followed by exactly one space (which we’ll ignore), and then everything else. Those expressions are <code>\w*</code>, <code>\s{1}</code>, and <code>.*</code> respectively.</p>
<p>There are tons of search results and doc pages, but I am starting to find a pattern in that R’s (and particularly the tidyverse’s) vignettes are very helpful when approaching a new topic. I like R’s vignettes, which are long-form narratives on a topic that include narrative cases with code. If docs are a cookbook, vignettes are a supermarket.</p>
<p>In this case, the <a href="https://tidyr.tidyverse.org/articles/pivot.html#many-variables-in-column-names-1"><code>vignette("pivot")</code></a> page’s “Many variables in column names” section gave me exactly the use case I needed to put my code together. I thought about trying to achieve all three transformations in one step, but I already had smoke coming out of my ears and didn’t want to overdo it.</p>
<p>This is not my first experience with pivoting, but it has taken a lot of mental effort to get used to the logic behind the operation and the specific way that <code>pivot_longer()</code> achieves it. Once I was able to mentally visualize the spatial transformation the function was meant to achieve, I felt comfortable that I wasn’t just <a href="https://en.wikipedia.org/wiki/Infinite_monkey_theorem">typing randomly</a>.</p>
<p>Here’s the solution I came up with:</p>
<pre class="r"><code>data &lt;- data %&gt;%
  pivot_longer(
    2:25,
    names_to = c(&quot;Reservoir&quot;, &quot;Measurement Type&quot;),
    names_pattern = &quot;(\\w*)\\s{1}(.*)&quot;,
    values_to = &quot;Value&quot;
  )
glimpse(data)</code></pre>
<pre><code>## Rows: 31,416
## Columns: 4
## $ Date               &lt;date&gt; 2017-11-01, 2017-11-01, 2017-11-01, 2017-11-01, 20…
## $ Reservoir          &lt;chr&gt; &quot;Ashokan&quot;, &quot;Ashokan&quot;, &quot;Ashokan&quot;, &quot;Ashokan&quot;, &quot;Ashoka…
## $ `Measurement Type` &lt;chr&gt; &quot;East Storage&quot;, &quot;East Elevation&quot;, &quot;West Elevation&quot;,…
## $ Value              &lt;dbl&gt; 65.36, 577.86, 36.34, 577.89, 18.00, 12.92, 1109.86…</code></pre>
<p>I used <code>glimpse()</code> here instead of <code>head()</code> because I wanted to illustrate a point: untidy data is much more compact. The original data had 1,309 rows, and pivoted it has 31,416 rows. The original dataset, with 25 columns, had an area of 32,725 cells, and the transformed data, with 4 columns, has 125,664 cells.</p>
</div>
<div id="splitting-columns-with-extract" class="section level2">
<h2>Splitting columns with <code>extract()</code></h2>
<p>To split the Site variable off of the Measurement Type column, I’ll call <code>extract()</code>. I’m sure it’s possible to write a regex to do this in one step, but since functions like <code>extract()</code> and <code>pivot_longer()</code> are calling underlying functions that have their own rules and quirks, I’m not going to fight the gods and will instead just run it through <code>extract()</code> twice.</p>
<p>I’ll also rename the current Measurement Type column because we’ll be replacing it with a newly extracted column.</p>
<pre class="r"><code>data &lt;- data %&gt;%
  rename(&#39;temp&#39;=&#39;Measurement Type&#39;) %&gt;%
  extract(
    &quot;temp&quot;,
    &quot;Site&quot;,
    &quot;(North|South|Conservation Flow|West|East)&quot;,
    remove=FALSE
    ) %&gt;%
  extract(
    &quot;temp&quot;,
    &quot;Measurement Type&quot;,
    &quot;(Storage|Elevation|Release)&quot;
    )
data %&gt;%
  head(100) %&gt;%
  kbl() %&gt;%
  kable_styling(font_size=12) %&gt;%
  scroll_box(height=&quot;15em&quot;)</code></pre>
<div style="border: 1px solid #ddd; padding: 0px; overflow-y: scroll; height:15em; ">
<table class="table" style="font-size: 12px; margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
Date
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
Reservoir
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
Measurement Type
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
Site
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
Value
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
65.36
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
577.86
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
36.34
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
577.89
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
18.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
12.92
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1109.86
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
47.26
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
835.85
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
9.92
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
30.74
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1430.03
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
North
</td>
<td style="text-align:right;">
38.90
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
South
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
Conservation Flow
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
116.60
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1264.45
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
North
</td>
<td style="text-align:right;">
51.70
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
South
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
Conservation Flow
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
47.69
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1112.87
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
97.30
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
64.95
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
577.58
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
36.82
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
578.59
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
11.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
13.28
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1111.05
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
47.32
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
835.94
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
9.92
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
30.68
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1429.90
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
North
</td>
<td style="text-align:right;">
39.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
South
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
Conservation Flow
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
116.87
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1264.61
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
North
</td>
<td style="text-align:right;">
51.70
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
South
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
Conservation Flow
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
48.20
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1113.33
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
97.60
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
64.36
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
577.31
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
37.18
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
579.14
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
12.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
13.56
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1111.97
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
47.22
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
835.79
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
9.89
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
30.72
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1429.99
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
North
</td>
<td style="text-align:right;">
39.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
South
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
Conservation Flow
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
117.08
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1264.74
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
North
</td>
<td style="text-align:right;">
51.80
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
South
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
Conservation Flow
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
48.66
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1113.74
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-03
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
97.80
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
63.71
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
576.94
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
37.49
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
579.56
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
12.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
13.78
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1112.73
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
47.28
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
835.88
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
9.89
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
30.83
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1430.22
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
North
</td>
<td style="text-align:right;">
39.10
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
South
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
Conservation Flow
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
117.15
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1264.78
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
North
</td>
<td style="text-align:right;">
51.80
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
South
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
Conservation Flow
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
49.05
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
1114.09
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-04
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
Release
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
98.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-05
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
63.15
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-05
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
576.52
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-05
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Elevation
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
37.78
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-05
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
Storage
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
579.92
</td>
</tr>
</tbody>
</table>
</div>
<p>Are these particularly graceful regexes? Absolutely not. A computer science student would get points deducted for submitting something like this on a homework assignment. Yet they work with this data set in this context with these function calls, and that’s good enough for now. Not every meal can be a feast of legend.</p>
<p>The other issue I see after converting these columns is that their type is character. Since Reservoir, Site, and Measurement Type are categories, they should be factor data types. We’ll convert them using <code>as_factor()</code>.</p>
<pre class="r"><code>data$Reservoir &lt;- data$Reservoir %&gt;%
  as_factor()
data$`Measurement Type` &lt;- data$`Measurement Type` %&gt;%
  as_factor()
data$Site &lt;- data$Site %&gt;%
  as_factor()
summary(data)</code></pre>
<pre><code>##       Date                   Reservoir     Measurement Type
##  Min.   :2017-11-01   Ashokan     :6545   Storage  : 9163  
##  1st Qu.:2018-09-24   Schoharie   :3927   Elevation: 9163  
##  Median :2019-08-17   Rondout     :3927   Release  :13090  
##  Mean   :2019-08-17   Neversink   :6545                    
##  3rd Qu.:2020-07-09   Pepacton    :6545                    
##  Max.   :2021-05-31   Cannonsville:3927                    
##                 Site           Value        
##  East             : 2618   Min.   :   0.00  
##  West             : 2618   1st Qu.:  18.42  
##  North            : 2618   Median :  74.83  
##  South            : 2618   Mean   : 349.25  
##  Conservation Flow: 2618   3rd Qu.: 586.46  
##  NA&#39;s             :18326   Max.   :1572.72</code></pre>
<p>Finally, we’ll save the data locally so that we don’t need to rewrite functions for all the transformations we’ve done the next time we’re working the data.</p>
<pre><code>write.csv(data, file=&quot;/path/to/file.csv&quot;)</code></pre>
</div>
<div id="conclusion" class="section level2">
<h2>Conclusion</h2>
<p>After retrieving the data, and before doing higher level work that explores the meaning of the data and looks for value, we have to make sure that the data is in a form we can use and ensure that it is not garbage. Changing the form is data wrangling (or munging), which we’ve done here.</p>
<p>I am now more comfortable with the form of this data. I don’t really like Values having multiple scales represented in one column (feet, billions of gallons, millions of gallons per day) because it makes the statistics calculated for the Values column meaningless. As I explore the data more, it may make sense to break this column apart.</p>
<p>Since the data is tidy, we are ready to look at the values present and make sure they are accurate, sane, and ready for higher level exploratory data analysis (EDA) techniques. Wrangling the data is not a one-time process, and as we explore and visualize the data, the shape of the table can change to meet the needs of the analysis.</p>
</div>
