---
title: Managing inconsistent facets with Patchwork
date: '2021-07-11'
slug: [2021-07-11-managing-inconsistent-facets-with-patchwork]
---

<script src="{{< blogdown/postref >}}index_files/header-attrs/header-attrs.js"></script>
<script src="{{< blogdown/postref >}}index_files/kePrint/kePrint.js"></script>
<link href="{{< blogdown/postref >}}index_files/lightable/lightable.css" rel="stylesheet" />


<p>As I started <a href="https://aem.run/posts/2021-06-29-exploring-visualization-libraries/">visualizing the Current Reservoir Levels data</a>, I realized that a technical issue I was grappling with was interesting in its own right. One of my variables didn’t apply to all of the data, and in order to display data in the way I wanted to, it was necessary to build a custom plot.</p>
<p>I explored the inbuild <code>ggplot2</code> options and tried to visualize the inbuilt faceting feature, but due to the inconsistent nature of my data facets I ended up using <code>patchwork</code> to build the plot exactly as I wanted it to be.</p>
<div id="the-current-reservoir-levels-structure" class="section level2">
<h2>The Current Reservoir Levels structure</h2>
<p>Exploring data is a large topic of study in itself, called <a href="https://en.wikipedia.org/wiki/Exploratory_data_analysis">exploratory data analysis (EDA)</a>. It isn’t a rigid structure, but more of a philosophy towards how to approach the data. I am still learning about EDA, how other people explore data, and developing my own techniques.</p>
<p>One common technique I know from my background in mathematics and social science is to look at points of change like borders, limits, extremes, asymptotes, and changes in direction. When a function modeling slope has a derivative that becomes negative, at that point there will be an interesting change.</p>
<p>In human geography, it is telling to analyze the specific details about how a group of people define who is at the edge of their group, who is tolerated, and who is held outside despite their attempts to be included in the group. Applying this to data, analyzing statistical outliers using <a href="https://en.wikipedia.org/wiki/Box_plot">box plots</a> is one useful first step.</p>
<p>In visualizing data for EDA, there are other options and box plots have significant limitations. I am fascinated by more exotic visualizations like <a href="https://www.cedricscherer.com/2021/06/06/visualizing-distributions-with-raincloud-plots-with-ggplot2/">raincloud plots</a> and want to work with them, but I have a lot of basic competence to build up with <code>ggplot2</code> and related libraries first.</p>
<p>Before diving into the plots, let’s look at a slice of the data in tabular form with <code>head()</code>:</p>
<div style="border: 1px solid #ddd; padding: 0px; overflow-y: scroll; height:15em; ">
<table class="table" style="font-size: 12px; margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
Date
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
Reservoir
</th>
<th style="text-align:left;position: sticky; top:0; background-color: #FFFFFF;">
Site
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
Storage
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
Elevation
</th>
<th style="text-align:right;position: sticky; top:0; background-color: #FFFFFF;">
Release
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
65.36
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
577.86
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
36.34
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
West
</td>
<td style="text-align:right;">
577.89
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
18.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
12.92
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
1109.86
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Schoharie
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
47.26
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
835.85
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Rondout
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
9.92
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
30.74
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
1430.03
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
North
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
38.90
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
South
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Neversink
</td>
<td style="text-align:left;">
Conservation Flow
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
116.60
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
1264.45
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
North
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
51.70
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
South
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Pepacton
</td>
<td style="text-align:left;">
Conservation Flow
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
47.69
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
1112.87
</td>
<td style="text-align:right;">
NA
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-01
</td>
<td style="text-align:left;">
Cannonsville
</td>
<td style="text-align:left;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
97.30
</td>
</tr>
<tr>
<td style="text-align:left;">
2017-11-02
</td>
<td style="text-align:left;">
Ashokan
</td>
<td style="text-align:left;">
East
</td>
<td style="text-align:right;">
64.95
</td>
<td style="text-align:right;">
NA
</td>
<td style="text-align:right;">
NA
</td>
</tr>
</tbody>
</table>
</div>
<p>If you’re looking closely, you can see that the Sites column is a complicating factor in this data. As not every reservoir has multiple sites for every type of measurement, a lot of common techniques for visualization will become more difficult.</p>
<p>The purpose of the data set is to record three measures across six reservoirs: total storage measured in billions of gallons per day, elevation of the water surface in feet, and water released from reservoirs measured in millions of gallons per day.</p>
<p>If we visualize the each variable across the entire system with a basic box plot that doesn’t break out the sites, here’s what we get for storage:</p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/storage_all-1.svg" width="672" /></p>
<p>and elevation:</p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/elevation_all-1.svg" width="672" /></p>
<p>and release:</p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/release_all-1.svg" width="672" /></p>
<p>These plots could benefit from some improved scaling, but a bigger problem is that our Sites are actually different subsets of the respective reservoirs. For example, the Ashokan reservoir has two basins, East and West, which is why the Storage and Elevation numbers have such wide distributions in the box plot.</p>
<p>Let’s visualize the Ashokan sites separately, starting with storage:</p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/ashokan_storage_sites-1.svg" width="672" /></p>
<p>and then elevation:</p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/ashokan_elevation_sites-1.svg" width="672" /></p>
<p>Despite the scales squishing the box plots to the point that they’re effectively useless, we can see that the East and West basins are completely different from each other. The East basin holds far less water, but has a higher surface elevation, which seems like it would indicate a much deeper reservoir.</p>
<p>The Neversink and Pepacton reservoirs are similar for Release values: both have North, South, and Conservation Flow sites. In short, when visualizing this data set, displaying aggregate data for all reservoirs is misleading as it collapses the differences between the different sites.</p>
<p>This would not be a problem for many visualizations, but the point of using a box plot is to visually identify outliers for subsequent analysis and possible removal. So how can we visualize boxplots for the Reservoirs by Site when there are multiple sites, but not when there aren’t sites?</p>
</div>
<div id="both-reservoir-and-sites-indicated-on-x-axis" class="section level2">
<h2>Both Reservoir and Sites indicated on X axis?</h2>
<p>The first possibility I investigated is whether both Reservoir and Sites can be mapped on the X axis. I don’t think this is possible. ggplot is very flexible, but the X and Y axis inputs seem to be pretty strict about what input they’ll accept. Here’s what I input to graph the storage of all reservoirs above:</p>
<pre><code>data %&gt;%
  ggplot() +
  geom_boxplot(
    mapping = aes(
      x = Reservoir,
      y = Storage,
      fill = Reservoir)
    ) +
  labs(
    title = &quot;Storage of Upstate Reservoirs (billion of gallons)&quot;,
    caption = &quot;Source: NYC Department of Environmental Protection&quot;)</code></pre>
<p>If you’re not familiar with ggplot, it works by cumulatively adding layers to build the plot, thus the plus signs. In this case, we pipe (%&gt;%) our data set into <code>ggplot()</code> which creates a blank plot, then we add a boxplot with <code>geom_boxplot()</code>, and then add labels with <code>labs()</code>. The <code>mapping</code> argument tells the boxplot which variables to use.</p>
<p>The <code>?aes()</code> doc page explains more about what can go into the x and y aesthetic mappings:</p>
<blockquote>
<p>List of name-value pairs in the form aesthetic = variable describing which variables in the layer data should be mapped to which aesthetics used by the paired geom/stat. The expression variable is evaluated within the layer data, so there is no need to refer to the original dataset (i.e., use ggplot(df, aes(variable)) instead of ggplot(df, aes(df$variable))). The names for x and y aesthetics are typically omitted because they are so common; all other aesthetics must be named.</p>
</blockquote>
<p>It’s pretty specific about taking variables as input rather than something like outputs from <code>paste()</code> or <code>subset()</code>. I didn’t experiment with it extensively, but I am confident it’s not intended to work this specific way. While looking for a solution, I was reminded of an inbuilt feature of ggplot that <em>is</em> designed to do something like what I want.</p>
</div>
<div id="faceting-in-ggplot2" class="section level2">
<h2>Faceting in <code>ggplot2</code></h2>
<p>Faceting is a standard feature of ggplot designed to subset and graph data for situations like this. <a href="https://bookdown.org/kdonovan125/ibis_data_analysis_r4/creating-graphs-with-ggplot2.html#facets">Kevin Donovan</a> wrote a great introduction to the topic. So what would it look like if we facet the Current Reservoir Levels data?</p>
<p>Here’s the Release levels using <code>facet_grid()</code>:</p>
<pre class="r"><code>data %&gt;%
  ggplot() +
  geom_boxplot(
    mapping = aes(
      x = Reservoir,
      y = Release,
      fill = Reservoir)
    ) + 
  facet_grid(
    Site ~ .,
    scales = &quot;free_y&quot;,
    drop = TRUE) +
  theme_test() +
  theme(axis.text.x = element_text(angle = 90),
        strip.text.y = element_text(angle = 0),
        strip.background.y = element_rect(fill = &quot;#FFFFFF&quot;),
        strip.placement = &quot;outside&quot;)</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/release_facet_grid-1.svg" width="672" /></p>
<p>Here is the same data using <code>facet_wrap()</code>:</p>
<pre class="r"><code>data %&gt;%
  ggplot() +
  geom_boxplot(
    mapping = aes(
      x = Reservoir,
      y = Release,
      fill = Reservoir)
    ) + 
  facet_wrap(
    Site ~ .,
    scales = &quot;free_y&quot;,
    drop = TRUE) +
  theme_test() +
  theme(axis.text.x = element_text(angle = 90),
        strip.placement = &quot;outside&quot;)</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/release_facet_wrap-1.svg" width="672" /></p>
<p>There are a number of thematic tweaks I would make to these maps, and I will spend time focusing on ggplot theming in another post, but these are a significant improvement, particularly the plot made with <code>facet_wrap()</code>. By setting the scales to move freely along the Y axis, most of the plots make sense and some even have analytical value.</p>
<p>The problems with faceting in our case is that our Sites variable is only applicable for a subset of each measurement variable, which creates a confusing and wasteful facet grid because ggplot faceting expects facets to apply to all values of a variable.</p>
<p>In the above Release graphs, East and West are wasting of previous space and it’s not clear why the reservoirs categorized “NA” (those with only one release site) are together on one graph. Furthermore, the reservoirs are all stuck on one scale, making Rondout and Schoharie hard to understand, and Neversink and Pepacton are duplicated and left blank.</p>
<p>For this data set, I cannot think of a clean, compact, and concise way to look at all the Reservoirs and Sites without just plotting them individually. There are two problems with this approach: it is super verbose and will create an excessive number of plots to display one after the other.</p>
<p>I don’t believe there is a way to make this anything but verbose, but fortunately R has a number of good solutions for condensing multiple plots into single images.</p>
</div>
<div id="patchwork-and-its-siblings" class="section level2">
<h2><code>patchwork</code> and its siblings</h2>
<p><a href="https://github.com/thomasp85/patchwork"><code>patchwork</code></a> is a <code>ggplot2</code> extension designed for exactly this use case: we have multiple plots we want to display as one graphic. There are other solutions for this, like <code>gridExtra</code> and <code>cowplot</code>, but I like <code>patchwork</code> because it is very concise, readable, and easy to write.</p>
<p>By building a grid of plots, we can give them all adequate scales and plot only what we want. This requires a lot of verbosity, repetition, and manual tweaking for each plot, so if I were to make plots like this regularly I would find a way to simplify it. Here is the Storage as a <code>patchwork</code> graphic:</p>
<pre class="r"><code># build 7 plots individually
# theme() and lab() parameters to reduce visual clutter

sp1 &lt;- subset(data, Reservoir %in% &#39;Ashokan&#39; &amp; Site %in% &#39;West&#39;) %&gt;%
  ggplot() +
  geom_boxplot(
    mapping = aes(
      x = Site,
      y = Storage),
    width = .3
    ) +
  theme_test() +
  theme (
    panel.border = element_blank(),
    axis.ticks.x = element_blank(),
    axis.ticks.y = element_blank()) +
  labs(x = &quot;Ashokan&quot;)

sp2 &lt;- subset(data, Reservoir %in% &#39;Ashokan&#39; &amp; Site %in% &#39;East&#39;) %&gt;%
  ggplot() +
  geom_boxplot(
    mapping = aes(
      x = Site,
      y = Storage),
    width = .3
    ) +
  theme_test() +
  theme (
    panel.border = element_blank(),
    axis.ticks.x = element_blank(),
    axis.ticks.y = element_blank()) +
  labs(
    x = &quot;Ashokan&quot;,
    y = element_blank())

sp3 &lt;- subset(data, Reservoir %in% &#39;Schoharie&#39;) %&gt;%
  ggplot() +
  geom_boxplot(
    mapping = aes(
      x = Reservoir,
      y = Storage),
    width = .3
    ) +
  theme_test() +
  theme (
    panel.border = element_blank(),
    axis.ticks.x = element_blank(),
    axis.ticks.y = element_blank()) +
  labs(
    x = element_blank(),
    y = element_blank())

sp4 &lt;- subset(data, Reservoir %in% &#39;Rondout&#39;) %&gt;%
  ggplot() +
  geom_boxplot(
    mapping = aes(
      x = Reservoir,
      y = Storage),
    width = .3
    ) +
  theme_test() +
  theme (
    panel.border = element_blank(),
    axis.ticks.x = element_blank(),
    axis.ticks.y = element_blank()) +
  labs(
    x = element_blank(),
    y = element_blank())

sp5 &lt;- subset(data, Reservoir %in% &#39;Neversink&#39;) %&gt;%
  ggplot() +
  geom_boxplot(
    mapping = aes(
      x = Reservoir,
      y = Storage),
    width = .3
    ) +
  theme_test() +
  theme (
    panel.border = element_blank(),
    axis.ticks.x = element_blank(),
    axis.ticks.y = element_blank()) +
  labs(
    x = element_blank(),
    y = element_blank())

sp6 &lt;- subset(data, Reservoir %in% &#39;Pepacton&#39;) %&gt;%
  ggplot() +
  geom_boxplot(
    mapping = aes(
      x = Reservoir,
      y = Storage),
    width = .3
    ) +
  theme_test() +
  theme (
    panel.border = element_blank(),
    axis.ticks.x = element_blank(),
    axis.ticks.y = element_blank()) +
  labs(
    x = element_blank(),
    y = element_blank())

sp7 &lt;- subset(data, Reservoir %in% &#39;Cannonsville&#39;) %&gt;%
  ggplot() +
  geom_boxplot(
    mapping = aes(
      x = Reservoir,
      y = Storage),
    width = .3
    ) +
  theme_test() +
  theme (
    panel.border = element_blank(),
    axis.ticks.x = element_blank(),
    axis.ticks.y = element_blank()) +
  labs(
    x = element_blank(),
    y = element_blank())

# build the patchwork.
# parallel plots instead of stacked charts so each plot is
# tall enough for the box plot to be legible.
(sp1 | sp2 | sp3 | sp4 | sp5 | sp6 | sp7) + plot_annotation(
  title = &quot;Storage Capacity of Upstate Reservoirs (billions of gallons)&quot;,
  caption = &quot;Source: NYC Department of Environmental Protection&quot;)</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/storage_patchwork-1.svg" width="672" /></p>
<p>This is now the graphic I had in my head when I started analyzing the data. There are many visual elements we would definitely tweak if we wanted this to be a production grade image, since it currently has about as much pizzaz as a Nutrition Facts label, but we have all the essential elements for understanding, analyzing, and asking further questions.</p>
<p>For instance, we can see that the top whiskers are much smaller than the lower whiskers. This makes sense, as a reservoir can be drained but it won’t ever go beyond 100% of its capacity since it would just overflow or (more realistically) the DEP would just increase the outflow from the bottom of the reservoir.</p>
<p>Looking at each individual reservoir, the ranges make sense. The storage values for Ashokan West and Rondout are within 10% of their medians, while the rest are distributed a great deal more widely. Schoharie appears to have at least one zero measurement, which either indicates an error or the reservoir went entirely dry at some point.</p>
<p>This is what a good graphic should do: propel the reader forward so that they are asking (or are prepared for) the next question in the analysis. If people are confused or sidetracked by a graphic’s quirks, then it is undermining rather than supporting the venture.</p>
<p>Now for the Elevation numbers, without the code chunk this time:</p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/elevation_patchwork-1.svg" width="672" /></p>
<p>I have more questions this time. Pepacton immediately stands out because it has outliers that are several hundred feet above the median measurement. I am not aware of any Biblical floods since November 2017 that placed the Catskills under 200 feet of water, so these look like errors.</p>
<p>The Schoharie zero measurement(s) show up in the Elevation data, too, which makes me wonder if there wasn’t an infrastructure project at some point that required the reservoir to be temporarily drained. A quick search turns up <a href="https://www.timesunion.com/news/article/Schoharie-Reservoir-tunneling-project-nears-an-13545514.php">this article</a> which talks about a project at Schoharie from 2019, and there are regularly major capital projects across the water system, so the zero value(s) might potentially be valid.</p>
<p>I’m curious about Ashokan West’s elevation figure, too. The other reservoirs range from 550 to 1450 feet in elevation, so Ashokan West having a median elevation of 40 seems remarkably low. As this reservoir also stores the most water by far, its shallow depth makes me wonder how the two figures square with each other. These values aren’t outliers, of course, just curious.</p>
<p>Now for the Release figures, I will need to structure the graphic a little differently. Since I have two reservoirs, Neversink and Pepacton, with three release sites (North, South, Conservation Flow) each, that means there are 10 total plots.</p>
<p>Here’s what it looks like on one line:</p>
<pre class="r"><code>(rp1 | rp2 | rp3 | rp4 | rp5 | rp6 | rp7 | rp8 | rp9 | rp10) +
  plot_annotation(
    title = &quot;Release from Upstate Reservoirs (millions of gallons)&quot;,
    caption = &quot;Source: NYC Department of Environmental Protection&quot;
  )</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/build_release_patchwork_1-1.svg" width="672" /></p>
<p>It’s a promising attempt, and maybe with more effort and experience I could make this work, but for our purposes here I don’t think everything will fit on one line. I tried to massage the labels as much as possible, but there just wasn’t enough room for everything.</p>
<p>It would be possible to break this into two plots, which would leave plenty of room for labels and spacing, but I believe we can fit everything into one image without making it too visually crowded or difficult to visually parse. Here’s the box plot on two lines:</p>
<pre class="r"><code>(rp1 | rp2 | rp3 | rp7 | rp8) /
(rp4 | rp5 | rp6 | rp9 | rp10) +
  plot_annotation(
    title = &quot;Release from Upstate Reservoirs (millions of gallons)&quot;,
    caption = &quot;Source: NYC Department of Environmental Protection&quot;
    )</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/build_release_patchwork_2-1.svg" width="672" /></p>
<p>I think this is okay. We don’t have quite as much height for the box plots, but they are still useable. <code>patchwork::plot_annotation()</code> does not allow us to set a global Y variable, so I had to label both rows. I am tempted to <code>rename()</code> Conservation Flow to just Conservation, since flow is implied as a facet of water release.</p>
<p>As with the Storage and Elevation graphics, this one is useable for actually parsing the outliers and distribution of the data. The first thing that jumps out is that Release numbers are much more widely distributed, with Cannonsville ranging from zero to one billion gpd. Conservation Flow numbers seem intermittent, so most non-zero values are outliers.</p>
<p>I’d want to take a closer look at outliers for the Rondout and Schoharie reservoirs. Rondout’s release numbers are clustered below 50 mgd, but then there are at least two outliers in the 600 mgd range, which would be high even for the largest reservoir in the system, Ashokan. Schoharie’s fourth quartile has quite a long whisker, so I expect most of the outliers are real values, but there are several that exceed 450 mgd that seem questionable.</p>
</div>
<div id="bringing-it-all-together" class="section level2">
<h2>Bringing it all together</h2>
<p>Now we have successfully built box plots that break down the data set by reservoir and site, which turned out to be an unexpectedly complicated task due to the site variable only applying to a subset of each measurement variable. <code>patchwork</code> allowed us to visualize all the information we wanted to see with appropriate scales and minimal visual clutter.</p>
<p>EDA activities are not generally what gets published, and so this exercise was not strictly necessary. The flexibility of ggplot meant that I easily modified the plots in a working document to see exactly what I wanted, and could have just described all of these activities as “cleaning the data.”</p>
<p>After data is cleaned, though, there is still value in creating visualizations that describe the shapes of the data, like the raincloud plots I mentioned earlier. Many data-oriented audiences prefer visualizations and discussions of the shapes of the data, since it gives them insights into what techniques will work well and their limitations.</p>
<p>Messy facets like our Sites variable are common enough, and <code>patchwork</code> helped me to build custom graphics to manage this data set’s quirks, but the library is also useful more generally for showing multiple different types of visualizations in one graphic instead of displaying them serially.</p>
</div>
